<link rel="stylesheet" type="text/css" href="/static/lib/fotorama/fotorama.css">
    <section>
        <div class="container">

            <div class="sub-title">
                <h1><img alt="회원가입" src="/static/images/notify_h1.gif" style="width:100%;max-width: 486px"></h1>
            </div>

            <div class="sort-menu text-left noMg">
                <a href="notify_list.html" class="activate">공지사항</a>
                <a href="cs_list.html">1 : 1 센터</a>
            </div><!--//sort -->
            <div class="pt20"></div>
            <div class="pt20"></div>


            <div class="bbs-list">
                <table class="table tbl text-center">
                    <colgroup>
                        <col style="width: 60px">
                        <col>
                        <col style="width: 170px">
                        <col style="width: 80px">
                        <col style="width: 60px">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>글쓴이</th>
                        <th>작성일</th>
                        <th>조회</th>
                    </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th data-tit="번호">116</th>
                            <td data-tit="제목" class="text-left">
                                <a href="notify_view.html">[ 공지 ] 개천절 택배공지</a>
                            </td>
                            <td data-tit="글쓴이">
                                삿갓유통
                            </td>
                            <td data-tit="날짜">
                                11-26
                            </td>
                            <td data-tit="조회">
                                60
                            </td>
                        </tr>

                        <tr>
                            <th data-tit="번호">116</th>
                            <td data-tit="제목" class="text-left">
                                <a href="notify_view.html">[ 공지 ] 개천절 택배공지</a>
                            </td>
                            <td data-tit="글쓴이">
                                삿갓유통
                            </td>
                            <td data-tit="날짜">
                                11-26
                            </td>
                            <td data-tit="조회">
                                60
                            </td>
                        </tr>

                        <tr>
                            <th data-tit="번호">116</th>
                            <td data-tit="제목" class="text-left">
                                <a href="notify_view.html">[ 공지 ] 개천절 택배공지</a>
                            </td>
                            <td data-tit="글쓴이">
                                삿갓유통
                            </td>
                            <td data-tit="날짜">
                                11-26
                            </td>
                            <td data-tit="조회">
                                60
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="pt20"></div>

                <div class="pagination-cs text-center">
                    <strong>1</strong>
                    <a href="notify_list.html">2</a>
                    <a href="notify_list.html">3</a>
                    <a href="notify_list.html">4</a>
                </div><!--// ed :  pagination -->
                <div class="pt20"></div>

                <!-- search list -->
                <div class="search-form text-center">
                <form id="Frm" name="" action="#">
                    <select id="category" class="form-control inline w100">
                        <option value="0" selected>제목</option>
                        <option value="1">글쓴이</option>
                        <option value="2">날짜</option>
                    </select>
                    <input type="text" id="searchWord" name="" class="form-control inline w200">
                    <button type="submit" class="btn btn-primary btn-sm">검색</button> &nbsp;
                    <label><input type="radio" id="and" name="type" checked> and</label> &nbsp;
                    <label><input type="radio" id="or" name="type" > or</label>
                </form>
                </div><!--//ed :  search-form : list -->
            </div><!--// ed : bbs-list : notify -->

        </div><!-- //container-->
    </section>
