<link rel="stylesheet" type="text/css" href="/static/lib/fotorama/fotorama.css">
    <section>
        <div class="container">

            <div class="sub-title">
                <h1><img alt="회원가입" src="/static/images/notify_h1.gif" style="width:100%;max-width: 486px"></h1>
            </div>

            <div class="sort-menu text-left noMg">
                <a href="notify_list.html" class="activate">공지사항</a>
                <a href="cs_list.html">1 : 1 센터</a>
            </div><!--//sort -->
            <div class="pt20"></div>
            <div class="pt20"></div>


            <div class="bbs-view">
                <table class="table tbl text-left">
                    <colgroup>
                        <col style="width: 14%">
                        <col style="width: 36%">
                        <col style="width: 14%">
                        <col style="width: 36%">
                    </colgroup>
                    <tr>
                        <th>제목</th>
                        <td colspan="3">[ 공지 ] 공지공지 민공지</td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td>삿갓총각</td>
                        <th>작성일</th>
                        <td>2016-11-00 00:00:00</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div  class="bbs-contents">
날씨가 쌀쌀해지면서 겨울 제철 먹거리의 계절이 다시 돌아오고 있습니다.<br>
산지조업량 증가로 인해 시세가 대폭 인하된 자연산 돌문어.<br>
아마 1년 중, 이런 가격으로 싱싱하고 맛있는 제철 돌문어를 만나보실 수 있는 기회는,<br>
분명 흔치 않을 거라 생각합니다.<br>
<br>
말그대로 - 파격적인 할인 행사를 진행하오니<br>
해산물을 좋아하는 삿갓회원님들이라면<br>
이 기회를 꼭 놓치지 마시기 바랍니다.<br>
<br>
감사합니다!<br>
                            </div><!--// ed : bbs-contents -->
                        </td>
                    </tr>
                </table>
                <ul class="LBox">
                    <li>
                        <a href="#" class="btn btn-gray w100">◀ 이전글</a>
                        <a href="#" class="btn btn-gray w100">다음글 ▶</a>
                    </li>
                    <li class="li_R">
                        <a href="notify_list.html" class="btn btn-gray w100">목록</a>
                    </li>
                </ul>
            </div><!--// ed : bbs-list : notify -->

        </div><!-- //container-->
    </section>
