<!-- pop--><!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>삿갓유통</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" type="text/css" href="/static/css/fonts/fonts.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/plug-in.js"></script>
</head>
<body>
<div class="Pop-Wrap">
    <div class="pt20"></div>
        sdafas
        <button type="button" class="btn btn-lg btn-default delBtn">선택삭제</button>
    </div><!--// ed : bbs-list-->
</div>
<script type="text/javascript">
    $(function () {

        //== 전체 선택 toggle
        $('#allchk').bind("click", function () {
            var chkStatus  = this.checked;
            $('input[name="cartchk"]').prop("checked", chkStatus);
        });

        //== 선택버튼
        $('.bbs-list').on("click",'.choiceBtn',function (e){
            $(opener.document).abc();
        } );

    })
</script>
</body>
</html><!-- pop-->