<section>
    <div class="container">
        <div class="sort-menu">
            <span class="box-show-pc inline">
                <a href="#" class="activate">삿갓우체국</a>
                </span>
        </div><!--//sort -->

        <div class="list">

            <div class="row">
                <div class="col-xs-4">
                    <div class="cell">
                        <a href="post_view.html"
                           style="background-image: url(/static/images/sample-photo.jpg)">
                        </a>
                        <div class="info-post">
                            유럽토마토
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="cell">
                        <a href="post_view.html"
                           style="background-image: url()">
                        </a>
                        <div class="info-post">
                            유럽토마토
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="cell">
                        <a href="post_view.html"
                           style="background-image: url()">
                        </a>
                        <div class="info-post">
                            유럽토마토
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="cell">
                        <a href="post_view.html"
                           style="background-image: url()">
                        </a>
                        <div class="info-post">
                            유럽토마토
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="cell">
                        <a href="post_view.html"
                           style="background-image: url()">
                        </a>
                        <div class="info-post">
                            유럽토마토
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="cell">
                        <a href="post_view.html"
                           style="background-image: url()">
                        </a>
                        <div class="info-post">
                            유럽토마토
                        </div>
                    </div>
                </div>

            </div>

        </div><!--//list -->
    </div>
</section>


<script type="text/javascript">

</script>