<section>
    <div class="container">

        <div class="sort-menu fixed">
            <a href="/deals/deal_story.html">이야기</a>
            <a href="/deals/deal_community.html" class="activate">커뮤니티</a>
            <a href="/deals/deal_buy.html">구매하기</a>
        </div><!--//sort-menu -->

        <form id="Frm" name="" method="post" action="#">
            <input type="hidden" name="user"  value="">
            <input type="hidden" name="comment"  value="">
        </form>

        <div class="row box-chatt">
            <div class="col-sm-6 line-right"><!-- buy customer -->

                <div class="chatt-title text-center">
                    <h2>샀다</h2>
                    <p>여러분의 솔직한 구매 후기를 남겨주세요.</p>
                    <h1 class="totalComment yellow">+1048</h1>
                </div><!--// chatt-title -->
                <div class="chatt-box-form">
                    <table class="chatt-from">
                        <tr>
                            <td style="width: 50px">
                                <!-- user photo -->
                                <div class="user-photo">
                                    <img alt="" src="/static/images/member/sim-1.gif"
                                </div>
                            </td>
                            <td style="width: *">
                                <textarea  placeholder="상품이 마음에 드셨나요? 솔직한 구매후기를 남겨주세요!"></textarea>
                            </td>
                            <td style="width: 55px">
                                <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                            </td>
                        </tr>
                    </table><!--// chatt-from -->
                </div>

                <ul class="box-chatting">
                    <li class="chatt-customer ">
                        <div class="row nopadding">
                            <div class="col-xs-2 text-center">
                                <div class="user-photo">
                                    <img alt="" src="/static/images/member/sim-1.gif">
                                </div><!--//user photo -->
                            </div>
                            <div  class="col-xs-10">
                                <div class="box-chatting-commet">
                                    <ul class="LBox">
                                        <li>
                                            <h4>User</h4>
                                        </li>
                                        <li class="li_R">
                                            <span class="date">
                                                ( 2016-00-00 00:00:00)
                                            </span>
                                            <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>
                                            <div class="box-chatting-edit none">
                                                <button type="button" class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                    </div>
                                    <table class="chatt-from  none">
                                        <tr>
                                            <td style="width: *">
                                                <textarea >처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~</textarea>
                                            </td>
                                            <td style="width: 55px">
                                                <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!--//box-chatting-commet -->
                        </div>
                    </li>
                    <li class="chatt-helper">
                        <div class="row nopadding">
                            <div class="col-xs-3 text-center">
                                <div class="user-photo">
                                    <img alt="" src="/static/images/sim-satgat.gif">
                                </div><!--//user photo -->
                            </div>
                            <div  class="col-xs-9">
                                <div class="box-chatting-commet">
                                    <ul class="LBox">
                                        <li>
                                            <h4>삿갓유통</h4>
                                        </li>
                                        <li class="li_R">
                                            <span class="date">
                                                ( 2016-00-00 00:00:00)
                                            </span>
                                            <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>
                                            <div class="box-chatting-edit none">
                                                <button type="button" class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                    </div>
                                    <table class="chatt-from none">
                                        <tr>
                                            <td style="width: *">
                                                <textarea>처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~</textarea>
                                            </td>
                                            <td style="width: 55px">
                                                <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!--//box-chatting-commet -->
                        </div>
                    </li>
                </ul><!--// box-chatting : list -->

                <button type="button" class="btn btn-default btn-lg wp100 noround moreBuyBtn">덧글 더보기</button>
            </div><!--//buy customer -->

            <div class="col-sm-6  line-left">
                <!-- stay customer -->
                <div class="chatt-title text-center">
                    <h2>안샀다</h2>
                    <p>여러분의 솔직한 구매 후기를 남겨주세요.</p>
                    <h1 class="totalComment  blue">+18</h1>
                </div><!--// chatt-title -->
                <div class="chatt-box-form">
                    <table class="chatt-from">
                        <tr>
                            <td style="width: 50px">
                                <!-- user photo -->
                                <div class="user-photo">
                                    <img alt="" src="/static/images/member/sim-1.gif"
                                </div>
                            </td>
                            <td style="width: *">
                                <textarea  placeholder="상품을 구매하셨다면 왼쪽에 [ 샀다 ] 게시판을 이용해 주세요!"></textarea>
                            </td>
                            <td style="width: 55px">
                                <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                            </td>
                        </tr>
                    </table><!--// chatt-from -->
                </div>

                <ul class="box-chatting">
                    <li class="chatt-customer ">
                        <div class="row nopadding">
                            <div class="col-xs-2 text-center">
                                <div class="user-photo">
                                    <img alt="" src="/static/images/member/sim-1.gif">
                                </div><!--//user photo -->
                            </div>
                            <div  class="col-xs-10">
                                <div class="box-chatting-commet">
                                    <ul class="LBox">
                                        <li>
                                            <h4>User</h4>
                                        </li>
                                        <li class="li_R">
                                            <span class="date">
                                                ( 2016-00-00 00:00:00)
                                            </span>
                                            <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>
                                            <div class="box-chatting-edit none">
                                                <button type="button" class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                        생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                    </div>
                                    <table class="chatt-from  none">
                                        <tr>
                                            <td style="width: *">
                                                <textarea>처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~</textarea>
                                            </td>
                                            <td style="width: 55px">
                                                <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!--//box-chatting-commet -->
                        </div>
                    </li>
                    <li class="chatt-helper">
                        <div class="row nopadding">
                            <div class="col-xs-3 text-center">
                                <div class="user-photo">
                                    <img alt="" src="/static/images/sim-satgat.gif">
                                </div><!--//user photo -->
                            </div>
                            <div  class="col-xs-9">
                                <div class="box-chatting-commet">
                                    <ul class="LBox">
                                        <li>
                                            <h4>삿갓유통</h4>
                                        </li>
                                        <li class="li_R">
                                            <span class="date">
                                                ( 2016-00-00 00:00:00)
                                            </span>
                                            <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>
                                            <div class="box-chatting-edit none">
                                                <button type="button" class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                        생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                    </div>
                                    <table class="chatt-from none">
                                        <tr>
                                            <td style="width: *">
                                                <textarea>처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~</textarea>
                                            </td>
                                            <td style="width: 55px">
                                                <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div><!--//box-chatting-commet -->
                        </div>
                    </li>
                </ul><!--// box-chatting : list -->

                <button type="button" class="btn btn-default btn-lg wp100 noround moreBuyBtn">덧글 더보기</button>
            </div><!--//stay customer -->
        </div>
        <script type="text/javascript">

            //댓글 submit
            $(".submitBtn").bind("click", function (e)  {
                $('#Frm input[name="comment"]').val($(this).parent().prev().find("textarea").val())
                $('#Frm').submit();
            })

            //해당 댓글의 셋팅버튼 열기
            $(".commentSetBtn").bind("click", function (e)  {
                $(this).next().toggleClass('none');
            })

            //댓글 쓰기
            $(".commentBtn").bind("click", function (e)  {

            })

            //댓글 수정
            $(".modiBtn").bind("click", function (e)  {
                $(this).parent().toggleClass('none');
                $(this).parent().parent().parent().parent().find('.chatt-from').toggleClass('none');
            })

            //댓글 삭제
            $(".delBtn").bind("click", function (e)  {
                $(this).next().toggleClass('none');
            })

            //산사람 댓글 더보기
            $('.moreBuyBtn').bind("click", function (e)  {

            })

            //안산사람 댓글 더보기
            $('.moreStayBtn').bind("click", function (e)  {

            })


        </script>
    </div>
</section>
