<section>
    <div class="container">
        <div class="sort-menu">
            <a href="/deals/deal_story.html" class="activate">이야기</a>
            <a href="/deals/deal_community.html">커뮤니티</a>
            <a href="/deals/deal_buy.html">구매하기</a>
        </div><!--//sort-menu -->
        <div class="contents">

            <!-- pc 용 컨텐츠 보기 -->
            <div class="box-show-pc">
                <div class="box-variable-img100">
                    <img alt="" src="/static/images/smaple-story.jpg">
                </div>
            </div><!-- //box-show-pc -->

            <!-- 모바일용 컨텐츠 보기 -->
            <div class="box-show-mb">
                <div class="box-variable-img100">
                    <img alt="" src="/static/images/smaple-story.jpg">
                </div>
            </div><!-- //box-show-mb-->

        </div><!--//contents -->

    </div>
</section>
