<link rel="stylesheet" type="text/css" href="/static/lib/fotorama/fotorama.css">
<section>
    <div class="container">

        <div id="sort-menu" class="sort-menu deal-vew ">
            <a href="#deal_story" data-id="story">이야기</a>
            <a href="#deal_community" data-id="community">커뮤니티</a>
            <a href="#deal_buy" data-id="buy">구매하기</a>
        </div><!--//sort-menu -->
        <div class="pt20"></div>
        <div class="pt75"></div>
        <!-- deal_story -->
        <div id="deal_story">
            <!-- pc 용 컨텐츠 보기 -->
            <div class="box-show-pc">
                <div class="box-variable-img100">
                    <img alt="" src="/static/images/smaple-story.jpg">
                </div>
            </div><!-- //box-show-pc -->

            <!-- 모바일용 컨텐츠 보기 -->
            <div class="box-show-mb">
                <div class="box-variable-img100">
                    <img alt="" src="/static/images/smaple-story.jpg">
                </div>
            </div><!-- //box-show-mb-->
        </div>
        <!--//ed:deal_stroy -->
        <div class="pt75"></div>
        <hr class="text-pink">
        <!-- deal_community -->
        <div id="deal_community">
            <form id="commentFrm" name="" method="post" action="#">
                <input type="hidden" name="user"  value="">
                <input type="hidden" name="comment"  value="">
            </form>

            <div class="row box-chatt">
                <div class="col-xs-6 line-right">
                    <div class="pt75"></div>
                    <!-- buy customer -->
                    <div class="chatt-title text-center">
                        <h2>샀다</h2>
                        <p>여러분의 솔직한 구매 후기를 남겨주세요.</p>
                        <h1 class="totalComment yellow">+1048</h1>
                    </div><!--// chatt-title -->
                    <div  id="commetn-form-buy"  class="chatt-box-form">
                        <table class="chatt-from  comment-btn">
                            <tr>
                                <td style="width: 80px">
                                    <!-- user photo -->
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/member/sim-1.gif"
                                    </div>
                                </td>
                                <td style="width: *">
                                    <input type="text" id="" name="" class="form-control"  placeholder="상품이 마음에 드셧나요? 솔직한 구매후기를 남겨주세요"></input>
                                </td>
                                <td style="width: 55px">
                                    <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                </td>
                            </tr>
                        </table><!--// chatt-from -->
                        <!-- 댓글 추가  -->
                        <table class="chatt-from comment-regi none">
                            <tr>
                                <td style="width: 80px">
                                    <!-- user photo -->
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/member/sim-1.gif"
                                    </div>
                                </td>
                                <td style="width: *">
                                    <div class="comment-regi-box">
                                        <div>
                                            <div class="float-left">userid</div>
                                            <small class="float-right">작성중</small><div class="clearfix">
                                        </div>
                                        <textarea id="" name="" placeholder="상품이 마음에 드셧나요? 솔직한 구매후기를 남겨주세요"></textarea>
                                        <div>
                                            <div class="float-left filebox">
                                                <label for="ex_file"><img alt="업로드" src="/static/images/ico-file.gif"></label>
                                                <input type="file" id="ex_file">
                                            </div>
                                            <div class="float-right">
                                                <button type="button" class="btn btn-default btn-sm w80 cancelCommentBtn">취소</button>
                                                <button type="submit" class="btn btn-primary btn-sm w80 regiCommentBtn">저장</button>
                                            </div><div class="clearfix"></div>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table><!--// ed : 댓글 입력 chatt-from -->
                    </div>

                    <!-- 샀다 댓글리스트 -->
                    <ul class="box-chatting">

                        <!-- 사용자 댓글 -->
                        <li class="chatt-customer ">

                            <div class="row nopadding">
                                <div class="col-xs-2 text-center">

                                    <!-- user 사진 -->
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/member/sim-1.gif">
                                    </div><!--//user photo -->

                                </div>
                                <div  class="col-xs-10">
                                    <div class="box-chatting-commet">
                                        <!-- user 기본정보 -->
                                        <ul class="LBox">
                                            <li>
                                                <h4>User</h4>
                                            </li>
                                            <li class="li_R">
                                                <span class="date">
                                                    ( 2016-00-00 00:00:00)
                                                </span>
                                                <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>

                                                <!-- 댓글 수정 컨트롤  -->
                                                <div class="box-chatting-edit none">
                                                    <button type="button" data-id="regi"  class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                    <button type="button" data-id="modi" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                    <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                                </div>

                                            </li>
                                        </ul>

                                        <!-- 댓글 -->
                                        <div class="fotorama" data-width="100%" data-fit="contain">
                                            <img alt="" src="/static/images/sample-photo.jpg">
                                            <img alt="" src="/static/images/sample-photo.jpg">
                                        </div><div class="pt6"></div>
                                        <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                            생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                        </div><!--//  ed : 댓글 -->

                                        <!-- 댓글 수정 -->
                                        <div class="chatt-from commont-modi  none">
                                            <textarea id="" name="" placeholder=""></textarea>
                                            <div>
                                                    <div class="float-left filebox">
                                                        <label for="ex_file"><img alt="업로드" src="/static/images/ico-file.gif"></label>
                                                        <input type="file" id="ex_file">
                                                    </div>
                                                    <div class="float-right">
                                                        <button type="button" class="btn btn-default btn-sm w80 cancelCommentModiBtn">취소</button>
                                                        <button type="submit" class="btn btn-primary btn-sm w80 commentRegiBtn">댓글달기</button>
                                                        <button type="submit" class="btn btn-warning btn-sm w80 commentModiBtn">수정</button>
                                                    </div><div class="clearfix"></div>
                                            </div>
                                        </div><!--// ed :  댓글 수정 chatt-from -->
                                    </div>



                                </div><!--//box-chatting-commet -->
                            </div>
                        </li><!--//  ed : 사용자 댓글 -->


                        <!-- 관리자 댓글 -->
                        <li class="chatt-helper">
                            <div class="row nopadding">
                                <div class="col-xs-3 text-center">
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/sim-satgat.gif">
                                    </div><!--//user photo -->
                                </div>
                                <div  class="col-xs-9">
                                    <div class="box-chatting-commet">
                                        <ul class="LBox">
                                            <li>
                                                <h4>삿갓유통</h4>
                                            </li>
                                            <li class="li_R">
                                                <span class="date">
                                                    ( 2016-00-00 00:00:00)
                                                </span>
                                                <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>
                                                <div class="box-chatting-edit none">
                                                    <button type="button" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                    <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- 댓글 -->
                                        <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                        </div><!--// 댓글 -->

                                        <!-- 댓글 수정 -->
                                        <div class="chatt-from commont-modi  none">
                                            <textarea id="" class="innerBd" name="" placeholder="">처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~</textarea>
                                            <div>
                                                <div class="float-left filebox">
                                                    <label for="ex_file"><img alt="업로드" src="/static/images/ico-file.gif"></label>
                                                    <input type="file" id="ex_file">
                                                </div>
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-default btn-sm w80 cancelCommentModiBtn">취소</button>
                                                    <button type="submit" class="btn btn-primary btn-sm w80 commentRegiBtn">댓글달기</button>
                                                    <button type="submit" class="btn btn-warning btn-sm w80 commentModiBtn">수정</button>
                                                </div><div class="clearfix"></div>
                                            </div>
                                        </div><!--// ed :  댓글 수정 chatt-from -->

                                    </div>
                                </div><!--//box-chatting-commet -->
                            </div>
                        </li>
                    </ul><!--// ed : 샀다 댓글리스트 - box-chatting : list -->

                    <button type="button" class="btn btn-default btn-lg wp100 noround moreBuyBtn">덧글 더보기</button>
                </div><!--//buy customer -->
                <!------------------------------------------------------------// ed : 샀다  --------------------------------------------------------------->

                <!------------------------------------------------------------ 안 샀다  --------------------------------------------------------------->
                <div class="col-xs-6  line-left">
                    <div class="pt75"></div>
                    <!-- stay customer -->
                    <div class="chatt-title text-center">
                        <h2>안샀다</h2>
                        <p>여러분의 솔직한 구매 후기를 남겨주세요.</p>
                        <h1 class="totalComment  blue">+18</h1>
                    </div><!--// chatt-title -->
                    <div  id="commetn-form-buy"  class="chatt-box-form">
                        <table class="chatt-from  comment-btn">
                            <tr>
                                <td style="width: 80px">
                                    <!-- user photo -->
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/member/sim-1.gif"
                                    </div>
                                </td>
                                <td style="width: *">
                                    <input type="text" id="" name="" class="form-control"  placeholder="상품을 구매하셨다면 왼쪽에 [ 샀다 ] 게시판을 이용해 주세요!"></input>
                                </td>
                                <td style="width: 55px">
                                    <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                </td>
                            </tr>
                        </table><!--// chatt-from -->
                        <!-- 댓글 추가  -->
                        <table class="chatt-from comment-regi none">
                            <tr>
                                <td style="width: 80px">
                                    <!-- user photo -->
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/member/sim-1.gif"
                                    </div>
                                </td>
                                <td style="width: *">
                                    <div class="comment-regi-box">
                                        <div>
                                            <div class="float-left">userid</div>
                                            <small class="float-right">작성중</small><div class="clearfix">
                                        </div>
                                            <textarea id="" name="" placeholder="상품을 구매하셨다면 왼쪽에 [ 샀다 ] 게시판을 이용해 주세요!"></textarea>
                                            <div>
                                                <div class="float-left filebox">
                                                    <label for="ex_file"><img alt="업로드" src="/static/images/ico-file.gif"></label>
                                                    <input type="file" id="ex_file">
                                                </div>
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-default btn-sm w80 cancelCommentBtn">취소</button>
                                                    <button type="submit" class="btn btn-primary btn-sm w80 regiCommentBtn">저장</button>
                                                </div><div class="clearfix"></div>
                                            </div>

                                        </div>
                                </td>
                            </tr>
                        </table><!--// ed : 댓글 입력 chatt-from -->
                    </div>


                    <ul class="box-chatting">
                        <!-- 사용자 댓글 -->
                        <li class="chatt-customer ">

                            <div class="row nopadding">
                                <div class="col-xs-2 text-center">

                                    <!-- user 사진 -->
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/member/sim-1.gif">
                                    </div><!--//user photo -->

                                </div>
                                <div  class="col-xs-10">
                                    <div class="box-chatting-commet">
                                        <!-- user 기본정보 -->
                                        <ul class="LBox">
                                            <li>
                                                <h4>User</h4>
                                            </li>
                                            <li class="li_R">
                                                <span class="date">
                                                    ( 2016-00-00 00:00:00)
                                                </span>
                                                <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>

                                                <!-- 댓글 수정 컨트롤  -->
                                                <div class="box-chatting-edit none">
                                                    <button type="button" data-id="regi"  class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                    <button type="button" data-id="modi" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                    <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                                </div>

                                            </li>
                                        </ul>

                                        <!-- 댓글 -->
                                        <div class="fotorama" data-width="100%" data-fit="contain">
                                            <img alt="" src="/static/images/sample-photo.jpg">
                                            <img alt="" src="/static/images/sample-photo.jpg">
                                        </div><div class="pt6"></div>
                                        <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                            생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                        </div><!--//  ed : 댓글 -->

                                        <!-- 댓글 수정 -->
                                        <div class="chatt-from commont-modi  none">
                                            <textarea id="" name="" placeholder=""></textarea>
                                            <div>
                                                <div class="float-left filebox">
                                                    <label for="ex_file"><img alt="업로드" src="/static/images/ico-file.gif"></label>
                                                    <input type="file" id="ex_file">
                                                </div>
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-default btn-sm w80 cancelCommentModiBtn">취소</button>
                                                    <button type="submit" class="btn btn-primary btn-sm w80 commentRegiBtn">댓글달기</button>
                                                    <button type="submit" class="btn btn-warning btn-sm w80 commentModiBtn">수정</button>
                                                </div><div class="clearfix"></div>
                                            </div>
                                        </div><!--// ed :  댓글 수정 chatt-from -->
                                    </div>



                                </div><!--//box-chatting-commet -->
                            </div>
                        </li><!--//  ed : 사용자 댓글 -->


                        <!-- 관리자 댓글 -->
                        <li class="chatt-helper">
                            <div class="row nopadding">
                                <div class="col-xs-3 text-center">
                                    <div class="user-photo">
                                        <img alt="" src="/static/images/sim-satgat.gif">
                                    </div><!--//user photo -->
                                </div>
                                <div  class="col-xs-9">
                                    <div class="box-chatting-commet">
                                        <ul class="LBox">
                                            <li>
                                                <h4>삿갓유통</h4>
                                            </li>
                                            <li class="li_R">
                                                <span class="date">
                                                    ( 2016-00-00 00:00:00)
                                                </span>
                                                <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>
                                                <div class="box-chatting-edit none">
                                                    <button type="button" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                    <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                                </div>
                                            </li>
                                        </ul>
                                        <!-- 댓글 -->
                                        <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                            생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                        </div><!--// 댓글 -->

                                        <!-- 댓글 수정 -->
                                        <div class="chatt-from commont-modi  none">
                                            <textarea id="" class="innerBd" name="" placeholder="">처음으로 청귤구매해서 청을 담갔는데요~

생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~</textarea>
                                            <div>
                                                <div class="float-left filebox">
                                                    <label for="ex_file"><img alt="업로드" src="/static/images/ico-file.gif"></label>
                                                    <input type="file" id="ex_file">
                                                </div>
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-default btn-sm w80 cancelCommentModiBtn">취소</button>
                                                    <button type="submit" class="btn btn-primary btn-sm w80 commentRegiBtn">댓글달기</button>
                                                    <button type="submit" class="btn btn-warning btn-sm w80 commentModiBtn">수정</button>
                                                </div><div class="clearfix"></div>
                                            </div>
                                        </div><!--// ed :  댓글 수정 chatt-from -->

                                    </div>
                                </div><!--//box-chatting-commet -->
                            </div>
                        </li>

                    </ul><!--// box-chatting : list -->

                    <button type="button" class="btn btn-default btn-lg wp100 noround moreBuyBtn">덧글 더보기</button>
                </div><!--//stay customer -->
            </div>

        </div>
        <!--//ed:deal_community -->
        <div class="pt75"></div>
        <hr class="text-pink">
        <!-- deal_buy -->
        <div id="deal_buy">
            <div class="row  nopadding prod-header">
                <h1 class="text-center"><img alt="맛있게 사세요" src="/static/images/sim-buy-ment.gif" style="width: 100%; max-width: 588px;"></h1>
                <div class="col-sm-6 prod-carousel">
                    <div class="fotorama" data-width="434" data-height="434" style="max-width: 434px; max-height: 434px">
                        <div><img alt="" src="/static/images/sample-photo.jpg" style="width: 434px;height: 434px;"></div>
                        <div><img alt="" src="/static/images/sample-photo.jpg" style="width: 434px;height: 434px;"></div>
                    </div>
                </div><!-- //prod-carousel -->

                <div class="col-sm-6 prod-buy">
                    <form id="buyFrm" name="" action="#">
                        <h3>청귤각</h3>
                        <p class="prod-ment">청귤, 제주의 여름을 새파랗게 담았네</p>
                        <table class="prod-tbl table noline">
                            <colgroup>
                                <col style="width: 35%;">
                                <col style="width: 65%;">
                            </colgroup>
                            <tr>
                                <th>판매가</th>
                                <td><strong>34,000 원</strong></td>
                            </tr>
                            <tr>
                                <th>생산자</th>
                                <td>조혜란 / 제주</td>
                            </tr>
                            <tr>
                                <th>배송비</th>
                                <td>
                                    2,500 원<br>
                                    <small>( 제주, 도서지역 추가 2,500원 ) <button type="button" class="btn btn-xs">묶음배송안내</button></small>
                                </td>
                            </tr>
                            <tr>
                                <th>적립금</th>
                                <td>100point</td>
                            </tr>
                        </table>
                        <h3 class="prod-lastcost"><strong>총 상품금액 : <span class="price">36,500</span> 원</strong></h3>
                            <div class="fixedble">
                                <div class="box-show-mb show-option text-center">
                                    <button type="button" class="btn btn-trans show-option-btn"><img alt="" src="../static/images/btn-top.png"></button>
                                </div>

                                <div class="box-option">
                                    <div class="option-choice">
                                        <table class="prod-tbl  table noline">
                                            <colgroup>
                                                <col style="width: 35%;">
                                                <col style="width: 65%;">
                                            </colgroup>
                                            <tr class="btm">
                                                <th>선택사항</th>
                                                <td>
                                                    <select class="form-control">
                                                        <option>선택사항1</option>
                                                        <option>선택사항2</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div><!--// ed : option-choice -->

                                    <div class="pt5"></div>

                                    <div class="prod-buy-choiceBox">
                                        <div class="row nopadding">
                                            <div class="col-md-5 pt4 choiceBox-title">
                                                선택사항1
                                            </div>
                                            <div class="col-md-4 col-xs-6 text-center">
                                                <div class="box-amount">
                                                    <button type="button" class="btn btn-default btn-sm  noround">-</button>
                                                    <input type="number" id="ch-1" name="" min="1" value="1" class="form-control btn-sm inline w50 noround">
                                                    <button type="button" class="btn btn-default btn-sm  noround">+</button>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-xs-6  pt4  text-right">
                                                3,400 원
                                            </div>
                                        </div>
                                    </div><!--// ed : prod-buy-choiceBox -->

                                </div><!--// ed : box-option -->

                                <div class="prod-submit">
                                    <div class="row nopadding">
                                        <div class="col-xs-1">
                                            <button type="button" class="btn btn-lg btn-default red noround prod-heartBtn"><i class="fa fa-heart-o"></i> </button>
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-lg btn-default blue noround  prod-reBtn"><strong>재입고 알림</strong></button>
                                        </div>
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-lg btn-default blue noround  prod-cartBtn"><strong>장바구니</strong></button>
                                        </div>
                                        <div class="col-xs-5">
                                            <button type="submit" class="btn btn-lg btn-primary noround   prod-buyBtn"><strong>바로구매</strong></button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </form>
                </div><!-- //prod-buy-->
            </div><!-- //prod-header -->

            <div class="contents">

                <!-- pc 용 컨텐츠 보기 -->
                <div class="box-show-pc">
                    <div class="box-variable-img100"><!-- image width : 100% -->
                        <img alt="" src="/static/images/smaple-buy.jpg">
                    </div>
                </div><!-- //box-show-pc -->

                <!-- 모바일용 컨텐츠 보기 -->
                <div class="box-show-mb">
                    <div class="box-variable-img100"><!-- image width : 100% -->
                        <img alt="" src="/static/images/smaple-buy.jpg">
                    </div>
                </div><!-- //box-show-mb-->

            </div><!-- //contents-->
            <!--//ed:deal_buy -->


        </div><!-- //container-->
    </div>
</section>
<!--<script type="text/javascript" src="/static/lib/scrolltofixed/jquery-scrolltofixed-min.js"></script>-->
<script type="text/javascript">

   /*== == == == tab menu  ==== == == == */
    //중간메뉴 : id == sort-menu
    //중간 메뉴 : fixed
//    $(document).ready(function() {
//        $('#sort-menu').scrollToFixed( {
//            marginTop: 46,
//            zIndex:1
//        });
//    });

    //중간메뉴 :  선택시 해당 섹션으로 이동
    var chkPointTop = [];
    function setPosTop () {
        chkPointTop.push(Math.round($("#deal_community").position().top)-216)//
        chkPointTop.push(Math.round($("#deal_buy").position().top-216))//
    }
    setPosTop ();

   function  movePos ( id ) {
       var pos = 0;
       console.log(id)
       if ( id == "story") {
           pos = 0;
       } else if ( id == "community") {
           pos = chkPointTop[0];;
       } else {
           pos = chkPointTop[1];
       }
       $('html,body').animate({ scrollTop : pos }, 100); // 이동
   };

    $('#sort-menu a').bind("click",function( e) {
        var id = $(this).attr("data-id")
        movePos ( id );
        e.preventDefault();
    });

    //중간메뉴 : scroll  감지후 해당섹션에 맞는 메뉴 활성화

    var oldTop  = "story";
    chkingSortMenu ( );
    function chkingSortMenu ( ) {
        $( '#sort-menu a').removeClass('activate');
        $( '[data-id="'+oldTop+'"]').addClass('activate');
    }
    function chkingPOS ( tg) {
        if ( oldTop != tg) {
            oldTop = tg
            chkingSortMenu ( );
        }
    }

    $(window).scroll(function (event) {
        var sc = Math.round($(window).scrollTop());
        if ( sc >= chkPointTop[0]-40  && sc < chkPointTop[1] -100 ) {
            chkingPOS ("community");
        } else if (  sc >= chkPointTop[1] - 40) {
            chkingPOS ("buy");
        } else  if (  sc < chkPointTop[0])  {
            chkingPOS ("story");
        };
    });

   /*== == == == 커뮤니티  ==== == == == */
   //== 기본 입력창
   //댓글입력 :  상단기본등록
   $('.comment-btn').bind("click",function(){
       $(this).toggleClass('none')
       $(this).next().toggleClass('none')
   })

   //댓글취소 : 상단기본등록
   $('.cancelCommentBtn').bind("click",function(){
       $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().find('.comment-btn').toggleClass('none')
       var regitg = $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().find('.comment-regi');
       regitg.toggleClass('none')
       regitg.find('textarea').val("");
   });

   //댓글 submit
   $(".submitBtn").bind("click", function (e)  {
       $('#commentFrm input[name="comment"]').val($(this).parent().prev().find("textarea").val())
       $('#commentFrm').submit();
   })

   //== 선택댓글 입력창
   //선택댓글의 셋팅버튼 열기
   $('#deal_community').on("click",".commentSetBtn", function (e)  {
       $(this).next().toggleClass('none');
   });

   //댓글 쓰기 :  입력창 열기
   $('#deal_community').on("click",".commentBtn", function (e)  {
       $(this).parent().addClass('none');
       $(this).parent().parent().parent().parent().find('.chatt-from .commentRegiBtn').removeClass('none');
       $(this).parent().parent().parent().parent().find('.chatt-from .commentModiBtn').addClass('none');
       $(this).parent().parent().parent().parent().find('.chatt-from').removeClass('none');
   })

   //선택댓글 수정 :  입력창 열기
   $('#deal_community').on("click",".modiBtn", function (e)  {
       $(this).parent().addClass('none');
       $(this).parent().parent().parent().parent().find('.chatt-from .commentRegiBtn').addClass('none');
       $(this).parent().parent().parent().parent().find('.chatt-from .commentModiBtn').removeClass('none');
       $(this).parent().parent().parent().parent().find('.chatt-from').removeClass('none');
   })

   //선택댓글 삭제
   $('#deal_community').on("click",".delBtn", function (e)  {

   })

   //선택댓글  입력창 닫기
   $('#deal_community').on("click",".cancelCommentModiBtn",function(){
       $(this).parent().parent().parent().parent().find('.chatt-from').toggleClass('none');
   });

   //선택댓글  수정사항  저장하기
   $('#deal_community').on("click",".regiCommentBtn",function(){

   });

   //== 더보기
   //산사람 댓글 더보기
   $('.moreBuyBtn').bind("click", function (e)  {

   })

   //안산사람 댓글 더보기
   $('.moreStayBtn').bind("click", function (e)  {

   })

   /*== == == == 구매하기  ==== == == == */
   /* event */

   //찜하기
   $('.prod-heartBtn').bind("click",function( ) {

   });

   //재입고 알림
   $('.prod-reBtn').bind("click",function( ) {

   });

   //장바구니
   $('.prod-cartBtn').bind("click",function( ) {
       $(location).attr("href","../order/order_cart.html");
   });

   //바로구매
   $('.prod-buyBtn').bind("click",function( ) {
       $(location).attr("href","../order/order_payment.html");
   });

    //== 모바일 옵션 선택
   $('.show-option-btn').bind("click",function( ) {
       $('.box-option').slideToggle("fast");
   });
</script>
