
<section>
    <div class="container order-compelet">

        <div class="order-title row nopadding">
            <div class="col-sm-6 text-left">
                <h1><img alt="결제하기" src="/static/images/order/order-step3-title-payment.gif" style="max-width: 327px"> </h1>
            </div>
            <div class="col-sm-6 text-right">
                <h2><img alt="step1" src="/static/images/order/order-step3.gif" style="max-width: 313px"> </h2>
            </div>
        </div><!--// ed : order-title-->

        <div class="order-compelet-msg">
            <h1><strong><span class="text-primary">주문이 확인</span>되었습니다.</strong></h1>
            <p>
                <span class="text-primary">2016.10.11까지</span>
                은행에 입금해주시면, 결제가 완료됩니다.
            </p>
        </div><!-- // ed : msg-->

        <hr>
        <div class="order-compelet-info row">
            <div class="col-sm-7">
                <div class="bbs-form noline text-left">
                    <table class="table tbl">
                        <colgroup>
                            <col style="width: 130px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>주문번호</th>
                            <td><span class="text-primary">2016100752767611</span></td>
                        </tr>

                        <tr>
                            <th>배송지정보</th>
                            <td>
                                오현지<br>
                                010-9272-3791<br>
                                (426823) 경기도 안산시 상록구 네고지3길 22 302호<br>
                                <span class="gray"> (426823) 경기도 안산시 상록구 1306-3번지 302호</span>
                            </td>
                        </tr>

                        <tr>
                            <th>주문메모</th>
                            <td>석류 안전하게 낱개로 개별 포장해서 보내주세요.</td>
                        </tr>

                        <tr>
                            <th>배송메모</th>
                            <td>배송 전에 미리 연락 바랍니다.</td>
                        </tr>

                        <tr>
                            <th>결제정보</th>
                            <td>
                                <ul>
                                    <li>가상계좌</li>
                                    <li>입금은행 : <span class="text-primary">국민은행</span> </li>
                                    <li>입금자명 : <span class="text-primary">오현지 596709013306929</span></li>
                                    <li>입금기한 : <span class="text-primary">2016.00.00</span></li>
                                </ul>
                                <div class="pt10"></div>
                                <small class="text-primary">
                                    무통장입금 시, 농협, 국민, 우체국, 부산, SC제일은행은 통장/카드 없이 현금으로 ATM기기 입금이
                                    불가능합니다. 이 경우 은행 창구 또는 인터넷 뱅킹을 이용해 주시기 바랍니다.
                                </small>
                            </td>
                        </tr>
                    </table>
                </div><!--// ed : payment info -->
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="order-cart  order-cart-complete">
                    <div class="side-gap">
                        <table class="table tbl text-center">
                            <colgroup>
                                <col style="width: 70px">
                                <col>
                            </colgroup>

                            <tr>
                                <th class="noPd">
                                    <div class="order-cart-photo inline">
                                        <img alt="" src="/static/images/sample-photo.jpg">
                                    </div>
                                </th>
                                <td data-tit="" class="text-left">
                                    <h5><strong>하루벌꿀</strong></h5>
                                    <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                    <p>12,000원</p>
                                </td>
                            </tr>

                            <tr>
                                <th class="noPd">
                                    <div class="order-cart-photo inline">
                                        <img alt="" src="/static/images/sample-photo.jpg">
                                    </div>
                                </th>
                                <td data-tit="" class="text-left">
                                    <h5><strong>하루벌꿀</strong></h5>
                                    <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                    <p>12,000원</p>
                                </td>
                            </tr>

                            <tr>
                                <th class="noPd">
                                    <div class="order-cart-photo inline">
                                        <img alt="" src="/static/images/sample-photo.jpg">
                                    </div>
                                </th>
                                <td data-tit="" class="text-left">
                                    <h5><strong>하루벌꿀</strong></h5>
                                    <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                    <p>12,000원</p>
                                </td>
                            </tr>

                        </table>
                    </div><!--// ed : payment list -->
                    <hr>

                    <div class="side-gap">
                        <ul class="LBox cost-info">
                            <li>결제금액</li>
                            <li class="li_R">
                               <h3>63,500 원</h3>
                            </li>
                        </ul>
                    </div><!--// ed : cost -->
                </div>
            </div>
        </div><!-- // ed : info-->
        <div class="order-compelet-point">
            <img alt="" src="/static/images/ico-bag.gif">
            결제시 적립 포인트
            <span class="text-primary"> 635</span> Point.
        </div>
        <hr>
        <div class="pt20"></div>
        <div class="pt10"></div>
        <div class="order-submit text-center">
            <button type="button" class="btn btn-primary btn-outline btn-lg backBtn">구매내역 보기</button>
            <button type="button" class="btn btn-primary btn-lg paymentBtn">계속 쇼핑하기</button>
            <div class="clearfix"></div>
        </div>

    </div><!-- //container-->

</section>



<script type="text/javascript">
    function abc() {
        alert("sss");
    }
    $(function () {
        //== 배송지 선택
        $('input[name="transChk"]').change(function(){
            console.log($(this).val())
            if($(this).val() == "1") {
                //주문자와 동일
                $('.transListBtn').prop('disabled',true);
            } else {
                //신규배송지
                $('.transListBtn').prop('disabled',false);
            }
        });

        //배송지 선택 모달창 띄움
        $('.transListBtn').bind("click",function(e){
            $('#transChk').modal('show')
        })

        $('#transChk').on("click",' .choiceBtn',function(e){

            //모달창 종료
            $('#transChk').modal('hide');
        });

        //== 쿠폰 선택 모달창 띄움
        $('.couponSearchBtn').bind("click",function(e){
            $('#couponChk').modal('show')
        })

        //쿠폰 다운로드
        $('#couponChk').on("click",' .downBtn',function(e){

        });
        //쿠폰 사용취소
        $('#couponChk').on("click",' .cancelBtn',function(e){

        });

        //쿠폰 적용
        $('#couponChk').on("click",' .useBtn',function(e){


            //처리후 모달창 종료
            $('#couponChk').modal('hide');
        });


        //== 배송메세지 선택
        $('#select-trans').change(function(){
            $("#select-trans option:selected").each(function () {

                if($(this).val()== '1'){ //직접입력일 경우
                    $("#trans-msg").val('');                        //값 초기화
                    $("#trans-msg").removeClass("none");
                    $("#trans-msg").attr("disabled",false); //활성화
                }else{ //직접입력이 아닐경우
                    $("#trans-msg").val($(this).text());      //선택값 입력
                    $("#trans-msg").addClass("none");
                    $("#trans-msg").attr("disabled",true); //비활성화
                }
            });
        });


        //== 주문하기
        $('.paymentBtn').bind("click",function( ) {
            $(location).attr("href","order_payment_decision.html");
        });

        /*==// form ====*/
        //== 전체 선택 toggle
        $('#allchk').bind("click", function () {
            var chkStatus  = this.checked;
            $('input[name="cartchk"]').prop("checked", chkStatus);
        });

        //== tootlp 활성화
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>