<section>
    <div class="container">

        <div class="order-title row nopadding">
            <div class="col-sm-6 text-left">
                <h1><img alt="결제하기" src="/static/images/order/order-step2-title-payment.gif" style="max-width: 327px"> </h1>
            </div>
            <div class="col-sm-6 text-right">
                <h2><img alt="step1" src="/static/images/order/order-step2.gif" style="max-width: 313px"> </h2>
            </div>
        </div><!--// ed : order-title-->

        <div class="order-cart">
            <table class="table tbl text-center">
                <colgroup>
                    <col style="width: 170px">
                    <col>
                    <col style="width: 170px">
                    <col style="width: 116px">
                    <col style="width: 136px">
                </colgroup>
                <thead>
                <tr>
                    <th colspan="2" class="text-left">상품정보</th>
                    <th>수량</th>
                    <th>산지 / 배송비</th>
                    <th>결제금액</th>
                </tr>
                </thead>
                <tbody>


                <tr>
                    <td class="noTit noPd">
                        <div class="order-cart-photo inline">
                            <img alt="" src="/static/images/sample-photo.jpg">
                        </div>
                    </td>
                    <td data-tit="상품정보" class="text-left">
                        <h3><strong>하루벌꿀</strong></h3>
                        <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                    </td>
                    <td data-tit="수량" class="order-amount ">
                        1 개
                    </td>
                    <td class="tbl-line" data-tit="산지 / 배송비">
                        <span class="inline order-comp">삿갓유통</span>
                        <span class="inline order-cost">
                                    2,500 원
                                    <button class="btn btn-trans btn-xs helpBtn"
                                            data-toggle="tooltip" data-placement="bottom" data-html="true"
                                            title="상품에 따라 배송비 변경 <br> 도서산간지역 / 3,000원">
                                        <i class="fa fa-question-circle-o fa-2x"></i></button>
                                </span>
                    </td>
                    <td data-tit="결제금액">
                        <h3 class="inline text-primary"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                    </td>
                </tr>

                <tr>
                    <td class="noPd">
                        <div class="order-cart-photo inline">
                            <img alt="" src="/static/images/sample-photo.jpg">
                        </div>
                    </td>
                    <td data-tit="상품정보" class="text-left">
                        <h3><strong>하루벌꿀</strong></h3>
                        <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                    </td>
                    <td data-tit="수량" class="order-amount ">
                        2 개
                    </td>
                    <td class="tbl-line" data-tit="산지 / 배송비">
                        <span class="inline order-comp">삿갓유통</span>
                        <span class="inline order-cost">
                                    2,500 원
                                    <button class="btn btn-trans btn-xs helpBtn"
                                            data-toggle="tooltip" data-placement="bottom" data-html="true"
                                            title="상품에 따라 배송비 변경 <br> 도서산간지역 / 3,000원">
                                        <i class="fa fa-question-circle-o fa-2x"></i></button>
                                </span>
                    </td>
                    <td data-tit="결제금액">
                        <h3 class="inline text-primary"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                    </td>
                </tr>

                <tr>
                    <td class="noPd">
                        <div class="order-cart-photo inline">
                            <img alt="" src="/static/images/sample-photo.jpg">
                        </div>
                    </td>
                    <td data-tit="상품정보" class="text-left">
                        <h3><strong>하루벌꿀</strong></h3>
                        <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                    </td>
                    <td data-tit="수량" class="order-amount ">
                        3 개
                    </td>
                    <td class="tbl-line" data-tit="산지 / 배송비">
                        <span class="inline order-comp">삿갓유통</span>
                        <span class="inline order-cost">
                                    2,500 원
                                    <button class="btn btn-trans btn-xs helpBtn"
                                            data-toggle="tooltip" data-placement="bottom" data-html="true"
                                            title="상품에 따라 배송비 변경 <br> 도서산간지역 / 3,000원">
                                        <i class="fa fa-question-circle-o fa-2x"></i></button>
                                </span>

                    </td>
                    <td data-tit="결제금액">
                        <h3 class="inline text-primary"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                    </td>
                </tr>

                </tbody>
            </table>

            <div class="bbs-form-normal noline payment-decision">
                <form id="Frm" name="" action="#">
                    <div class="pt20"></div>
                    <h4><strong>주문자 정보</strong></h4>
                    <hr class="text-primary  bd2x">
                    <table class="table tbl text-left ">
                        <colgroup>
                            <col style="width: 190px">
                            <col>
                        </colgroup>

                        <tr>
                            <th>주문자명</th>
                            <td>오현지</td>
                        </tr>

                        <tr>
                            <th>핸드폰</th>
                            <td>010-0000-0000 </td>
                        </tr>

                        <tr>
                            <th>이메일</th>
                            <td>aaaa@satgat.com</td>
                        </tr>

                    </table><!--// ed : 주문자 정보 -->
                    <hr>

                    <div class="pt20"></div>
                    <h4><strong>배송 정보</strong></h4>
                    <hr class="text-primary  bd2x">
                    <table class="table tbl text-left ">
                        <colgroup>
                            <col style="width: 190px">
                            <col>
                        </colgroup>

                        <tr>
                            <th>수령인</th>
                            <td>오현지</td>
                        </tr>

                        <tr>
                            <th>수령인 핸드폰</th>
                            <td>010-0000-0000</td>
                        </tr>

                        <tr>
                            <th>배송지 선택</th>
                            <td>15589(426-823)</td>
                        </tr>

                        <tr>
                            <th>주소</th>
                            <td>경기도 안산시 상록구 사동 1306-3  302호</td>
                        </tr>

                        <tr>
                            <th>배송비</th>
                            <td>2,500 원</td>
                        </tr>

                        <tr>
                            <th>배송 요청사항</th>
                            <td>부재 시 경비실에 맡겨주세요.</td>
                        </tr>

                    </table><!--// ed : 배송 정보 -->
                    <hr>

                    <div class="pt20"></div>
                    <h4><strong>결제금액</strong></h4>
                    <hr class="text-primary  bd2x">
                    <table class="table tbl text-left ">
                        <colgroup>
                            <col style="width: 176px">
                            <col>
                        </colgroup>

                        <tr>
                            <th>총주문금액</th>
                            <td data-tit="총주문금액"><span class="gray">61,00</span> 원</td>
                        </tr>

                        <tr>
                            <th>총 배송비</th>
                            <td data-tit="총 배송비"><span class="gray">25,00</span> 원</td>
                        </tr>

                        <tr>
                            <th>회원할인</th>
                            <td data-tit="회원할인"><span class="gray"> - </span> 원</td>
                        </tr>

                        <tr>
                            <th>적립금 사용</th>
                            <td data-tit="적립금 사용"><span class="gray"> 0</span> 원</td>
                        </tr>

                        <tr>
                            <th>결제금액</th>
                            <td data-tit="결제금액"><span class="gray"> 63,500</span> 원</td>
                        </tr>

                    </table><!-- ed : 결제금액 -->

                    <div class="pt20"></div>
                    <h4><strong>결제 수단</strong></h4>
                    <hr class="text-primary  bd2x noMg">
                    <div class="bbs-list-form">
                        <table class="table tbl text-left ">
                            <colgroup>
                                <col style="width: 190px">
                                <col style="width: 100px">
                                <col>
                            </colgroup>

                            <tr>
                                <th class="noTit noline"><h4>무통장입금</h4></th>
                                <th class="noPd noline">입금자명</th>
                                <td class="noline" data-tit="입금자명"> 오현지</td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th>입금은행</th>
                                <td data-tit="입금은행">국민은행 656501-01-605941 예금주 (주)더블유엠비</td>
                            </tr>

                            <tr>
                                <th class="noline" colspan="3"><h4>매출증빙 / 세금계산서 </h4> </th>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">상호명</th>
                                <td class="noline"  data-tit="상호명">더블유엠비</td>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">사업자번호</th>
                                <td class="noline" data-tit="사업자번호">635-87-00393</td>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">대표자명</th>
                                <td class="noline" data-tit="대표자명">김필범</td>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">업태/업종</th>
                                <td class="noline"  data-tit="업태/업종">도소매업 /  전자상거래업</td>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">주소</th>
                                <td class="noline"  data-tit="주소">403857 <br> 인천광역시 부평구 세월천로25번길 40 (청천동)</td>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">담당자명</th>
                                <td class="noline"  data-tit="담당자명">김인영</td>
                            </tr>

                            <tr>
                                <th class="noTit noline">&nbsp;</th>
                                <th class="noTit noline">이메일</th>
                                <td class="noline"  data-tit="이메일">aaaaa@aaa.com</td>
                            </tr>

                            <tr>
                                <th class="noTit">&nbsp;</th>
                                <th class="noTit">연락처</th>
                                <td  data-tit="이메일">010-0000-0000</td>
                            </tr>

                        </table>
                    </div><!--// ed : 결제 수단 -->

                    <div class="pt20"></div>
                    <div class="pt10"></div>
                    <div class="order-submit text-center">
                        <button type="button" class="btn btn-primary btn-outline btn-lg backBtn">돌아가기</button>
                        <button type="button" class="btn btn-primary btn-lg paymentBtn">결제하기</button>
                        <div class="clearfix"></div>
                    </div>

                </form>
            </div><!--//  ed :  bbs-form-normal  -->
        </div><!--// ed : order-cart-->
    </div><!-- //container-->
</section>


<script type="text/javascript">
    $(function () {
        //== 돌아가기
        $('.backBtn').bind("click",function( ) {
            history.back(-1);
        });
        //== 주문하기
        $('.paymentBtn').bind("click",function( ) {
            $(location).attr("href","order_payment_complete.html");
        });

        //== tootlp 활성화
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
