
    <section>
        <div class="container">

            <div class="login-box">
                <h1>로그인</h1>
                <form id="Frm" name="" action="/login" method="post" >

                    <p><input type="text" name="loginId" placeholder="아이디" class="form-control noround"></p>
                    <p><input type="password" name="password" placeholder="비밀번호" class="form-control noround"></p>
                    <div class="login-box-link">
                        <label><input type="checkbox" id="" name=""> 아이디 저장하기</label> |
                        <a href="#"> 패스워드를 잊어버리셧나요?</a>
                    </div>
                    <div class="pt10">
                        <button type="submit" class="btn btn-lg btn-primary btn-submit">로그인</button>
                    </div>
                </form>
                <br/>
                <div class="text-center">
                    <a href="/member/join" >회원가입</a>
                </div>
            </div>

        </div><!-- //container-->
    </section>
