    <section>
        <div class="container">

            <div class="sub-title">
                <h1><img alt="회원가입" src="/static/images/member/mem_h1.gif" style="max-width:550px"></h1>
            </div>
            <form id="Frm" name="" action="#">
                <div class="form-box">
                    <table class="table noline">
                        <colgroup>
                            <col style="width: 140px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>아이디 <span>*</span></th>
                            <td>
                                <input type="text" id="" name="" class="form-control noround w200 inline">
                                <button type="button" id="" name="" class="btn btn-primary w200 btn-sm noround">중복확인</button>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호 <span>*</span></th>
                            <td>
                                <input type="text" id="" name="" class="form-control noround w200">
                                <small>공백없는 8~16자의영문/숫자를 조합하여 입력해야 합니다.</small>
                            </td>
                        </tr>
                        <tr>
                            <th>비밀번호확인 <span>*</span></th>
                            <td>
                                <input type="text" id="" name="" class="form-control noround w200">
                                <small>비밀번호 확인을 위하여 다시 한번 입력해주세요.</small>
                            </td>
                        </tr>
                        <tr>
                            <th>닉네임 <span>*</span></th>
                            <td>
                                <input type="text" id="" name="" class="form-control noround w200">
                                <button type="button" id="" name="" class="btn btn-primary w200 btn-sm noround">중복확인</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div class="form-box">
                    <div class="pt20"></div>
                    <p>
                        본인인증을 위해 정확한 이메일주소, 휴대폰 번호를 입력해 주세요.<br>
                        <small>
                            ( 입력된 이메일 주소, 휴대폰 번호는 아이디찾기, 비밀번호 재발급시 이용됩니다. )
                        </small>
                    </p>
                    <div class="pt20"></div>
                    <table class="table noline">
                        <colgroup>
                            <col style="width: 140px">
                            <col>
                        </colgroup>
                        <tr>
                            <th>이메일 <span>*</span></th>
                            <td>
                                <input type="text" id="" name="" class="form-control noround w200"> &nbsp; @ &nbsp;
                                <select class="form-control">
                                    <option>선택해주세요</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>핸드폰 번호 <span>*</span></th>
                            <td>
                                <input type="text" id="" name="" class="form-control noround w80"> -
                                <input type="text" id="" name="" class="form-control noround w100"> -
                                <input type="text" id="" name="" class="form-control noround w100">
                            </td>
                        </tr>
                        <tr>
                            <th>이메일 수신여부 <span>*</span></th>
                            <td>
                                <label><input type="radio" id="chk1" name="email_chk" value="" checked> 수신함</label> &nbsp; &nbsp; &nbsp; &nbsp;
                                <label><input type="radio" id="chk2" name="email_chk" value=""> 수신안함</label>
                            </td>
                        </tr>
                        <tr>
                            <th>SMS 수신여부 <span>*</span></th>
                            <td>
                                <label><input type="radio" id="chk1" name="sms_chk" value="" checked> 수신함</label> &nbsp; &nbsp; &nbsp; &nbsp;
                                <label><input type="radio" id="chk2" name="sms_chk" value=""> 수신안함</label>
                            </td>
                        </tr>
                    </table>
                    <p>
                        이메일 /  SMS 수신 동의를 하시면 다양한 할인혜택과 이벤트 / 신상품 등의 정보를 빠르게 만나실 수 있습니다.<br>
                        <small>
                            단, 주문 및 배송관련 정보는 수신동의와 상관없이 자동 발송됩니다.
                        </small>
                    </p>
                    <div class="pt20"></div>
                </div>
                <hr>
                <div class="form-box">
                    <div class="pt10"></div>
                    <h4><strong>프로필 / 심벌 설정</strong></h4>
                    <div class="pt10"></div>
                    <div class="row sim-box">
                        <div class="col-xs-2">
                            <label class="text-center">
                                <img alt="" src="/static/images/member/sim-1.gif">
                                <input type="radio" id="sim1" name="sim" value="">
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="text-center">
                                <img alt="" src="/static/images/member/sim-2.gif">
                                <input type="radio" id="sim1" name="sim" value="">
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="text-center">
                                <img alt="" src="/static/images/member/sim-3.gif">
                                <input type="radio" id="sim1" name="sim" value="">
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="text-center">
                                <img alt="" src="/static/images/member/sim-4.gif">
                                <input type="radio" id="sim1" name="sim" value="">
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="text-center">
                                <img alt="" src="/static/images/member/sim-5.gif">
                                <input type="radio" id="sim1" name="sim" value="">
                            </label>
                        </div>
                        <div class="col-xs-2">
                            <label class="text-center">
                                <img alt="" src="/static/images/member/sim-6.gif">
                                <input type="radio" id="sim1" name="sim" value="">
                            </label>
                        </div>
                    </div>
                </div>
                <hr>
                <label><input type="checkbox" id="" name=""> <strong>서비스 약관</strong> 을  읽고  동의 합니다.</label><br>
                <div class="pt10"></div>
                <label><input type="checkbox" id="" name=""> <strong>개인정보 취급  방침</strong>을 읽고 이에 동의합니다.</label>
                <div class="text-center">
                    <button type="button" id="" name="" class="btn btn-default  btn-lg w150 cancelbtn noround"> 취소하기 </button> &nbsp; &nbsp;
                    <button type="submit" id="" name="" class="btn btn-primary  btn-lg w150  noround"> 회원가입 하기 </button>
                </div>
            </form>

        </div><!-- //container-->
    </section>
