    <section>
        <div class="container-intro">
            <div class="container-intro-contents">

                <div class="container-intro-contents-photo">
                    <div class="user-photo">
                        <img alt="user" src="/static/images/member/sim-3.gif">
                    </div><!-- ed : user-photo -->
                    <button type="button" class="btn  btn-primary editUserProfileBtn">Edit.</button>
                </div>

                <h3><i class="fa fa-user"></i> username</h3>

                <div class="container-intro-contents-info">
                    <span class="container-intro-contents-info-arrow-top"></span>
                    <span>750 Point.</span>	  |
                    <span>Gold</span>	     |
                    <span>ohj950228@gmail.com</span>
                </div>

            </div><!--// ed : container-intro-contents -->
        </div>
        <div class="container top-intro">

            <div class="sub-title my-title">
                <ul class="LBox">
                    <li class="category-title">
                        <h1><img alt="마이삿갓" src="/static/images/my_h1.gif"></h1>
                    </li>
                    <li>
                        <!--<h1><img alt="마이페이지" src="/static/images/notify_h1.gif"></h1>-->
                        <div class="my-section-ment">
                            삿갓유통을 마음껏 즐길 수 있는절호의 찬스
                        </div>
                    </li>
                </ul>
            </div><!--// ed :  sub-title -->

            <div class="my-page">
                <aside>
                    <ul  class="my-menu">

                        <li class="depth1">
                            <h4>프로필 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="profile-myinfo.html">내정보</a> </li>
                                <li><a href="profile-member_leave.html">회원탈퇴..</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>혜택 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="advantage-point.html">삿갓포인트</a> </li>
                                <li><a href="advantage-coupon.html" class="active">삿갓쿠폰</a> </li>
                                <li><a href="advantage-coupon-regi.html">쿠폰입력</a> </li>
                                <li><a href="advantage-level.html">등급</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>장보기 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="cart-my.html">장바구니</a> </li>
                                <li><a href="cart-search.html">주문/배송조회</a> </li>
                                <li><a href="cart-like.html">좋아요♥</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>고객센터 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="help-direct.html">1:1 상담</a> </li>
                                <li><a href="help-faq.html">자주 묻는 질문</a> </li>
                                <li><a href="help-notify.html">공지사항</a> </li>
                                <li><a href="help-event.html">이벤트 소식</a> </li>
                            </ul>
                        </li>

                    </ul><!--// ed : my aside menu -->
                </aside>
                <div class="my-contents">
                    <h4 class="section-title">혜택</h4>
                    <div class="adv-point">

                        <div class="adv-point-info row nopadding">
                            <div class="adv-point-info-my text-center col-sm-6">

                                <div class="inline text-left">
                                    <div class="adv-ico float-left">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                    <div class="float-left">
                                        <p>사용가능 포인트(적립예정 0원)</p>
                                        <h1 class="adv-point-info-pt">
                                            <span>750</span> Point
                                        </h1>
                                    </div><div class="clearfix"></div>
                                </div>

                            </div><!--// ed : 사용가능 포인트 -->
                            <div class="adv-point-info-level col-sm-6">
                                <div class="row nopadding text-center">
                                    <div class="right-bar col-xs-6">

                                        <div class="inline text-left">
                                            <p>보유쿠폰&nbsp; <i class="fa fa-angle-right"></i> </p>
                                            <h2>2 장</h2>
                                        </div>

                                    </div><!--// ed : 보유쿠폰 -->
                                    <div class="col-xs-6">

                                        <div class="inline text-left">
                                            <p>회원등급&nbsp; <i class="fa fa-angle-right"></i> </p>
                                            <h2>영의정</h2>
                                        </div>

                                    </div><!--// ed : 회원등급 -->
                                </div>
                            </div>
                        </div><!--// ed : adv-point-info -->

                        <div class="row nopadding"><div class="col-sm-6"></div> <div class="col-sm-3"><div class="dot-mark wp100">▲</div></div> </div>
                        <div class="row nopadding adv-coupon-info text-center">
                            <div class="col-sm-4 text-center">

                                <ul class="LBox text-left inline">
                                    <li class="adv-coupon-type"><img alt="" src="/static/images/ico-coupon.gif"></li>
                                    <li>
                                        <div><small class="date">사용가능한 쿠폰</small></div>
                                        <p>
                                            <strong>2</strong>
                                            장
                                        </p>
                                    </li>
                                </ul>

                            </div><!--// ed : 사용가능한 쿠폰 -->
                            <div class="col-sm-4 text-center">

                                <ul class="LBox text-left inline">
                                    <li class="adv-coupon-type"><img alt="" src="/static/images/ico-coupon-half.gif"></li>
                                    <li>
                                        <div><small class="date">7일 이내 소멸 쿠폰</small></div>
                                        <div class="adv-coupon-count">
                                            <strong >1</strong>
                                            장
                                        </div>
                                    </li>
                                </ul>

                            </div><!--// ed : 7일 이내 소멸 쿠폰 -->
                            <div class="col-sm-4 text-center">

                                <ul class="LBox text-left inline">
                                    <li class="adv-coupon-type"><img alt="" src="/static/images/ico-coupon-down.gif"></li>
                                    <li>
                                        <div><small class="date">다운로드 가능 쿠폰</small></div>
                                        <div class="adv-coupon-count">
                                            <strong class="gray">0</strong>
                                            장
                                        </div>
                                    </li>
                                </ul>

                            </div><!--// ed : 다운로드 가능 쿠폰 -->
                        </div><!--// ed : adv-coupon-info -->

                        <div class="adv-coupon-add">
                            <form id="Frm" name="" action="#">
                                <input type="text" id="" name="" value="" class="form-control inline wp40"> &nbsp;
                                <button type="submit" class="btn btn-lg btn-primary couponAddBtn">쿠폰등록하기</button>
                            </form>
                        </div><!--// ed : 쿠폰등록 -->

                        <div class="bbs-list udline">
                            <table class="table tbl">
                                <colgroup>
                                    <col width="40px">
                                    <col>
                                    <col width="60px">
                                    <col width="200px">
                                    <col width="100px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="all" name="" value="" class="allChk"></th>
                                        <th class="text-left">쿠폰명 / 적용대상 및 조건</th>
                                        <th>할인</th>
                                        <th>유효기간 / 할인기간</th>
                                        <th>다운로드</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <th><input type="checkbox" id="" name="" value=""></th>
                                        <td class="text-left" data-tit="쿠폰명 / 적용대상 및 조건">가을맞이 무료배송 쿠폰</td>
                                        <td data-tit="할인">10%</td>
                                        <td data-tit="유효기간 / 할인기간">
                                            <span class="inline">2016.00.00</span>
                                            ~ <span class="inline">2016.00.00</span>
                                        </td>
                                        <td data-tit="다운로드">
                                            <button type="button" class="btn btn-lg btn-primary light btn-round">다운로드</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th><input type="checkbox" id="" name="" value=""></th>
                                        <td class="text-left" data-tit="쿠폰명 / 적용대상 및 조건">가을맞이 무료배송 쿠폰</td>
                                        <td data-tit="할인">10%</td>
                                        <td data-tit="유효기간 / 할인기간">
                                            <span class="inline">2016.00.00</span>
                                            ~ <span class="inline">2016.00.00</span>
                                        </td>
                                        <td data-tit="다운로드">
                                            <button type="button" class="btn btn-lg btn-primary light btn-round ">다운로드</button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <button type="button" class="btn btn-default btn-huz removeBtn">선택삭제하기</button>
                        </div>

                    </div><!--//  ed :  my-point -->

                </div><!--// ed : my contents -->
                <div class="clearfix"></div>
            </div>
        </div><!-- //container-->
    </section>
<link rel="stylesheet" type="text/css" href="/static/lib/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    //메뉴접기
    $('.my-menu h4').bind("click",function () {
        $(this).next().toggle();
    });

    //날짜선택
    jQuery.datetimepicker.setLocale('kr');
    jQuery('#date_timepicker_start').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
        },
        timepicker:false
    });
    jQuery('#date_timepicker_end').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
        },
        timepicker:false
    });
</script>
