    <section>
        <div class="container-intro">
            <div class="container-intro-contents">

                <div class="container-intro-contents-photo">
                    <div class="user-photo">
                        <img alt="user" src="/static/images/member/sim-3.gif">
                    </div><!-- ed : user-photo -->
                    <button type="button" class="btn  btn-primary editUserProfileBtn">Edit.</button>
                </div>

                <h3><i class="fa fa-user"></i> username</h3>

                <div class="container-intro-contents-info">
                    <span class="container-intro-contents-info-arrow-top"></span>
                    <span>750 Point.</span>	  |
                    <span>Gold</span>	     |
                    <span>ohj950228@gmail.com</span>
                </div>

            </div><!--// ed : container-intro-contents -->
        </div>
        <div class="container top-intro">

            <div class="sub-title my-title">
                <ul class="LBox">
                    <li class="category-title">
                        <h1><img alt="마이삿갓" src="/static/images/my_h1.gif"></h1>
                    </li>
                    <li>
                        <!--<h1><img alt="마이페이지" src="/static/images/notify_h1.gif"></h1>-->
                        <div class="my-section-ment">
                            삿갓유통을 마음껏 즐길 수 있는절호의 찬스
                        </div>
                    </li>
                </ul>
            </div><!--// ed :  sub-title -->

            <div class="my-page">
                <aside>
                    <ul  class="my-menu">

                        <li class="depth1">
                            <h4>프로필 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="profile-myinfo.html">내정보</a> </li>
                                <li><a href="profile-member_leave.html">회원탈퇴..</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>혜택 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="advantage-point.html">삿갓포인트</a> </li>
                                <li><a href="advantage-coupon.html">삿갓쿠폰</a> </li>
                                <li><a href="advantage-coupon-regi.html">쿠폰입력</a> </li>
                                <li><a href="advantage-level.html" class="active">등급</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>장보기 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="cart-my.html">장바구니</a> </li>
                                <li><a href="cart-search.html">주문/배송조회</a> </li>
                                <li><a href="cart-like.html">좋아요♥</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>고객센터 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="help-direct.html">1:1 상담</a> </li>
                                <li><a href="help-faq.html">자주 묻는 질문</a> </li>
                                <li><a href="help-notify.html">공지사항</a> </li>
                                <li><a href="help-event.html">이벤트 소식</a> </li>
                            </ul>
                        </li>

                    </ul><!--// ed : my aside menu -->
                </aside>
                <div class="my-contents">
                    <h4 class="section-title">등급</h4>
                    <div class="adv-point">

                        <div class="adv-point-info row nopadding">
                            <div class="adv-point-info-my text-center col-sm-6">

                                <div class="inline text-left">
                                    <div class="adv-ico float-left">
                                        <i class="fa fa-usd"></i>
                                    </div>
                                    <div class="float-left">
                                        <p>사용가능 포인트(적립예정 0원)</p>
                                        <h1 class="adv-point-info-pt">
                                            <span>750</span> Point
                                        </h1>
                                    </div><div class="clearfix"></div>
                                </div>

                            </div><!--// ed : 사용가능 포인트 -->
                            <div class="adv-point-info-level col-sm-6">
                                <div class="row nopadding text-center">
                                    <div class="right-bar col-xs-6">

                                        <div class="inline text-left">
                                            <p>보유쿠폰&nbsp; <i class="fa fa-angle-right"></i> </p>
                                            <h2>2 장</h2>
                                        </div>

                                    </div><!--// ed : 보유쿠폰 -->
                                    <div class="col-xs-6">

                                        <div class="inline text-left">
                                            <p>회원등급&nbsp; <i class="fa fa-angle-right"></i> </p>
                                            <h2>영의정</h2>
                                        </div>

                                    </div><!--// ed : 회원등급 -->
                                </div>
                            </div>
                        </div><!--// ed : adv-point-info -->

                        <div class="row nopadding"><div class="col-sm-9"></div> <div class="col-sm-3"><div class="dot-mark wp100">▲</div></div> </div>
                        <div class="adv-level-info">

                            <div class="row nopadding"><div class="col-xs-1"></div><div class="col-xs-11">
                                <div class="row  nopadding text-center">
                                    <div class="col-xs-4">
                                        <small></small>
                                        <span class="av-circle">
                                            평민
                                        </span>
                                    </div>
                                    <div class="col-xs-4">
                                        <small>현재 회원님의 등급<br>▼</small>
                                        <span class="av-circle rbs">
                                            영의정
                                        </span>
                                    </div>
                                    <div class="col-xs-4">
                                        <small></small>
                                        <span class="av-circle">
                                            왕
                                        </span>
                                    </div>
                                </div></div>
                            </div>
                        </div><!--//  ed :  my-level-info -->
                        <div class="adv-level-rule">
                            <table class="table tbl">
                                <colgroup>
                                    <col style="width: 8.33333%;">
                                    <col style="width: 30.5555%;">
                                    <col style="width: 30.5555%;">
                                    <col style="width: 30.5555%;">
                                </colgroup>
                                <tr>
                                    <th class="noTit">등급<br>기준</th>
                                    <td class="noTit">
                                        신규회원
                                    </td>
                                    <td class="noTit">
                                        최근 6개월 동안<br>
                                        구매횟수 3회이상
                                    </td>
                                    <td class="noTit">
                                        최근 6개월 동안<br>
                                        구매횟수 10회이상
                                    </td>
                                </tr>
                                <tr class="adv-level-rule-view">
                                    <th>혜택</th>
                                    <td data-tit="신규회원">
                                        가입시 3000원<br>
                                        할인쿠폰 자동발급
                                    </td>
                                    <td data-tit="최근 6개월 동안 구매횟수 10회이상">
                                        + 500 Point<br>
                                        적립금 5%추가 적립
                                    </td>
                                    <td data-tit="최근 6개월 동안 구매횟수 10회이상">
                                        + 500 Point<br>
                                        적립금 5%추가 적립
                                    </td>
                                </tr>
                            </table>
                        </div><!--//  ed :  my-level-contents -->
                    </div><!--//  ed :  my-point -->

                    <div class="pt75"></div>
                    <h5 class="text-primary"><strong>&lt; 회원 등급 선정 기준 및 혜택 이용 안내 &gt;</strong></h5>
                    <div class="box-line">
                        <ul>
                            <li>- 구매횟수와 구매금액은 배송 완료된 주문을 기준으로 합니다.</li>
                            <li>- 총 결제 금액 1만원 이하 주문은 구매횟수 집계에서 제외됩니다.</li>
                            <li>- 매월 1일 지급된 쿠폰은 해당 월이 지나면 자동 소멸됩니다.</li>
                            <li>- 지급된 쿠폰은 다른 쿠폰과 중복 적용이 불가능합니다.</li>
                            <li>- 등급 선정 기준 및 혜택은 추후에 사전 공지 후 변경될 수 있습니다.</li>
                            <li>- 등급별 월 1회 할인 쿠폰은 1일 이후 승급된 경우에는 다음달 1일에 지급됩니다..</li>
                        </ul>
                    </div>

                </div><!--// ed : my contents -->
                <div class="clearfix"></div>
            </div>
        </div><!-- //container-->
    </section>
<link rel="stylesheet" type="text/css" href="/static/lib/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    //메뉴접기
    $('.my-menu h4').bind("click",function () {
        $(this).next().toggle();
    });

    //날짜선택
    jQuery.datetimepicker.setLocale('kr');
    jQuery('#date_timepicker_start').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
        },
        timepicker:false
    });
    jQuery('#date_timepicker_end').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
        },
        timepicker:false
    });
</script>
