    <section>
        <div class="container-intro">
            <div class="container-intro-contents">

                <div class="container-intro-contents-photo">
                    <div class="user-photo">
                        <img alt="user" src="/static/images/member/sim-3.gif">
                    </div><!-- ed : user-photo -->
                    <button type="button" class="btn  btn-primary editUserProfileBtn">Edit.</button>
                </div>

                <h3><i class="fa fa-user"></i> username</h3>

                <div class="container-intro-contents-info">
                    <span class="container-intro-contents-info-arrow-top"></span>
                    <span>750 Point.</span>	  |
                    <span>Gold</span>	     |
                    <span>ohj950228@gmail.com</span>
                </div>

            </div><!--// ed : container-intro-contents -->
        </div>
        <div class="container top-intro">

            <div class="sub-title my-title">
                <ul class="LBox">
                    <li class="category-title">
                        <h1><img alt="마이삿갓" src="/static/images/my_h1.gif"></h1>
                    </li>
                    <li>
                        <!--<h1><img alt="마이페이지" src="/static/images/notify_h1.gif"></h1>-->
                        <div class="my-section-ment">
                            삿갓유통을 마음껏 즐길 수 있는절호의 찬스
                        </div>
                    </li>
                </ul>
            </div><!--// ed :  sub-title -->

            <div class="my-page">
                <aside>
                    <ul  class="my-menu">

                        <li class="depth1">
                            <h4>프로필 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="profile-myinfo.html">내정보</a> </li>
                                <li><a href="profile-member_leave.html">회원탈퇴..</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>혜택 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="advantage-point.html">삿갓포인트</a> </li>
                                <li><a href="advantage-coupon.html">삿갓쿠폰</a> </li>
                                <li><a href="advantage-coupon-regi.html">쿠폰입력</a> </li>
                                <li><a href="advantage-level.html">등급</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>장보기 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="cart-my.html">장바구니</a> </li>
                                <li><a href="cart-search.html">주문/배송조회</a> </li>
                                <li><a href="cart-like.html" class="active">좋아요♥</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>고객센터 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="help-direct.html">1:1 상담</a> </li>
                                <li><a href="help-faq.html">자주 묻는 질문</a> </li>
                                <li><a href="help-notify.html">공지사항</a> </li>
                                <li><a href="help-event.html">이벤트 소식</a> </li>
                            </ul>
                        </li>

                    </ul><!--// ed : my aside menu -->
                </aside>
                <div class="my-contents">
                    <h4 class="section-title">좋아요♥</h4>
                    <div class="my-cart order-cart">
                        <div class="row">

                            <div class="cell col-sm-3">
                                <div class="order-cart-photo inline">
                                    <img alt="" src="/static/images/sample-photo.jpg">
                                </div>
                                <h4><strong>하루벌꿀</strong></h4>
                                <small>옥수수 / 홍천</small>
                                <button type="button" class="btn btn-default text-primary btn-lg wp100 chBtn">주문하기</button>
                            </div><!--// ed : cell -->

                        </div>
                        <hr>
                        <button type="button" class="btn btn-sm w100">좋아요 취소</button>
                        <div class="pt75"></div>

                        <h4 class="section-title"><i class="fa fa-file-text-o"></i> &nbsp; 좋아요에서 주문하기</h4>

                        <table class="table tbl text-center my-like-list">
                            <colgroup>
                                <col style="width: 40px">
                                <col style="width: 40px">
                                <col>
                                <col style="width: 80px">
                                <col style="width: 80px">
                                <col style="width: 90px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="allchk" name="selectAll" value=""></th>
                                <th colspan="2" class="text-left">상품정보</th>
                                <th>판매가</th>
                                <th>수량</th>
                                <th>배송비</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th data-tit=""><input type="checkbox" id="" name="cartchk" value=""></th>
                                <td class="noTit noPd">
                                    <div class="order-cart-photo inline">
                                        <img alt="" src="/static/images/sample-photo.jpg">
                                    </div>
                                </td>
                                <td data-tit="상품정보" class="text-left">
                                    <h3><strong>하루벌꿀</strong></h3>
                                    <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                </td>
                                <td data-tit="판매가" class="order-amount ">
                                    65,000
                                </td>
                                <td data-tit="수량">
                                    12,000 원
                                </td>
                                <td  data-tit="배송비">
                                    <span class="inline order-cost">
                                        무료배송
                                        <button class="btn btn-trans btn-xs helpBtn"
                                                data-toggle="tooltip" data-placement="bottom" data-html="true"
                                                title="상품에 따라 배송비 변경 <br> 도서산간지역 / 3,000원">
                                                <i class="fa fa-question-circle-o fa-2x"></i></button>
                                     </span>
                                </td>
                            </tr>

                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="text-right">
                                        주문상품수  <strong>1종 1개</strong> &nbsp; &nbsp; &nbsp;
                                        적입 포인트  <strong>85포인트</strong> &nbsp; &nbsp; &nbsp;
                                        상품구매 총액  <strong>8,500원</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="text-right">
                                        총 결제금액 : 상품구매총액 <strong> 8,500원</strong> (상품수 1종 1개) +  배송비 0원  =<strong class="text-primary"> 8,500</strong>원
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                        <div class="float-left"> <button type="button" class="btn btn-gray  w100">선택삭제</button></div>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btn-outline btn-lg w100 otherBtn">장바구니</button>
                            <button type="button" class="btn btn-primary btn-lg paymentBtn w100 noMg">주문하기</button>
                        </div><div class="clearfix"></div>

                        <div class="pt75"></div>
                        <h4 class="text-primary"><strong>&lt; 좋아요♥  사용설명서 &gt;</strong></h4>
                        <p>자주 구매하시거나 마음에 드는 상품들을 일명 “ 찜 ” 해 놓을 수 있는 기능입니다.<br>내가 원하는 상품들만 쏙쏙 골라 한눈에 볼 수 있죠. </p>
                        <div class="box-line">
                            <ul>
                                <li>1. “ 찜 ”하고 싶은 상품에 좋아요 하트 버튼을 누른다.<br>( 메인페이지와 상품페이지 구매하기영역에서 누를 수 잇어요! )</li>

                                <li> 2. 각 메인페이지와 마이삿갓페이지의 [ 좋아요♥ ] 혹은 [ ♥ ]버튼 클릭 후 좋아요 설정을 수정하거나 원하는 제품만 골라서 바로 주문하거나 장바구니에 담을 수 있습니다.</li>
                            </ul>
                        </div>

                    </div><!--//  ed :  my-cart -->

                </div><!--// ed : my contents -->
                <div class="clearfix"></div>
            </div>
        </div><!-- //container-->
    </section>
<link rel="stylesheet" type="text/css" href="/static/lib/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    //메뉴접기
    $('.my-menu h4').bind("click",function () {
        $(this).next().toggle();
    });

    //날짜선택
    jQuery.datetimepicker.setLocale('kr');
    jQuery('#date_timepicker_start').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
        },
        timepicker:false
    });
    jQuery('#date_timepicker_end').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
        },
        timepicker:false
    });

    //== tootlp 활성화
    $('[data-toggle="tooltip"]').tooltip()
</script>
