    <section>
        <div class="container-intro">
            <div class="container-intro-contents">

                <div class="container-intro-contents-photo">
                    <div class="user-photo">
                        <img alt="user" src="/static/images/member/sim-3.gif">
                    </div><!-- ed : user-photo -->
                    <button type="button" class="btn  btn-primary editUserProfileBtn">Edit.</button>
                </div>

                <h3><i class="fa fa-user"></i> username</h3>

                <div class="container-intro-contents-info">
                    <span class="container-intro-contents-info-arrow-top"></span>
                    <span>750 Point.</span>	  |
                    <span>Gold</span>	     |
                    <span>ohj950228@gmail.com</span>
                </div>

            </div><!--// ed : container-intro-contents -->
        </div>
        <div class="container top-intro">

            <div class="sub-title my-title">
                <ul class="LBox">
                    <li class="category-title">
                        <h1><img alt="마이삿갓" src="/static/images/my_h1.gif"></h1>
                    </li>
                    <li>
                        <!--<h1><img alt="마이페이지" src="/static/images/notify_h1.gif"></h1>-->
                        <div class="my-section-ment">
                            삿갓유통을 마음껏 즐길 수 있는절호의 찬스
                        </div>
                    </li>
                </ul>
            </div><!--// ed :  sub-title -->

            <div class="my-page">
                <aside>
                    <ul  class="my-menu">

                        <li class="depth1">
                            <h4>프로필 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="profile-myinfo.html">내정보</a> </li>
                                <li><a href="profile-member_leave.html">회원탈퇴..</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>혜택 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="advantage-point.html">삿갓포인트</a> </li>
                                <li><a href="advantage-coupon.html">삿갓쿠폰</a> </li>
                                <li><a href="advantage-coupon-regi.html">쿠폰입력</a> </li>
                                <li><a href="advantage-level.html">등급</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>장보기 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="cart-my.html" class="active">장바구니</a> </li>
                                <li><a href="cart-search.html">주문/배송조회</a> </li>
                                <li><a href="cart-like.html">좋아요♥</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>고객센터 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="help-direct.html">1:1 상담</a> </li>
                                <li><a href="help-faq.html">자주 묻는 질문</a> </li>
                                <li><a href="help-notify.html">공지사항</a> </li>
                                <li><a href="help-event.html">이벤트 소식</a> </li>
                            </ul>
                        </li>

                    </ul><!--// ed : my aside menu -->
                </aside>
                <div class="my-contents">
                    <h4 class="section-title">장바구니</h4>
                    <div class="my-cart order-cart">
                        <div class="row">

                            <div class="cell col-sm-3">
                                <div class="order-cart-photo inline">
                                    <img alt="" src="/static/images/sample-photo.jpg">
                                </div>
                                <h4><strong>하루벌꿀</strong></h4>
                                <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                <ul class="LBox">
                                    <li>
                                        <div class="box-amount inline">
                                            <button type="button" class="btn btn-default btn-sm  noround">-</button>
                                            <input type="number" id="ch-1" name="" min="1" value="1" class="form-control btn-sm inline w50 noround">
                                            <button type="button" class="btn btn-default btn-sm  noround">+</button>
                                        </div>
                                    </li>
                                    <li class="li_R">
                                        <h3 class="inline text-primary noMg tex-cost"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                                    </li>
                                </ul>
                                <input type="hidden" name="chk" value="0">
                                <button type="button" class="btn btn-primary btn-lg wp100 chBtn">선택</button>
                            </div><!--// ed : cell -->

                            <div class="cell col-sm-3">
                                <div class="order-cart-photo inline">
                                    <img alt="" src="/static/images/sample-photo.jpg">
                                </div>
                                <h4><strong>하루벌꿀</strong></h4>
                                <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                <ul class="LBox">
                                    <li>
                                        <div class="box-amount inline">
                                            <button type="button" class="btn btn-default btn-sm  noround">-</button>
                                            <input type="number" id="ch-1" name="" min="1" value="1" class="form-control btn-sm inline w50 noround">
                                            <button type="button" class="btn btn-default btn-sm  noround">+</button>
                                        </div>
                                    </li>
                                    <li class="li_R">
                                        <h3 class="inline text-primary noMg tex-cost"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                                    </li>
                                </ul>
                                <input type="hidden" name="chk" value="0">
                                <button type="button" class="btn btn-primary btn-lg wp100 chBtn">선택</button>
                            </div><!--// ed : cell -->

                            <div class="cell col-sm-3">
                                <div class="order-cart-photo inline">
                                    <img alt="" src="/static/images/sample-photo.jpg">
                                </div>
                                <h4><strong>하루벌꿀</strong></h4>
                                <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                <ul class="LBox">
                                    <li>
                                        <div class="box-amount inline">
                                            <button type="button" class="btn btn-default btn-sm  noround">-</button>
                                            <input type="number" id="ch-1" name="" min="1" value="1" class="form-control btn-sm inline w50 noround">
                                            <button type="button" class="btn btn-default btn-sm  noround">+</button>
                                        </div>
                                    </li>
                                    <li class="li_R">
                                        <h3 class="inline text-primary noMg tex-cost"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                                    </li>
                                </ul>
                                <input type="hidden" name="chk" value="0">
                                <button type="button" class="btn btn-primary btn-lg wp100 chBtn">선택</button>
                            </div><!--// ed : cell -->

                            <div class="cell col-sm-3">
                                <div class="order-cart-photo inline">
                                    <img alt="" src="/static/images/sample-photo.jpg">
                                </div>
                                <h4><strong>하루벌꿀</strong></h4>
                                <p>선택사항 = 아카시아벌꿀 12회분 (+12,000원)</p>
                                <ul class="LBox">
                                    <li>
                                        <div class="box-amount inline">
                                            <button type="button" class="btn btn-default btn-sm  noround">-</button>
                                            <input type="number" id="ch-1" name="" min="1" value="1" class="form-control btn-sm inline w50 noround">
                                            <button type="button" class="btn btn-default btn-sm  noround">+</button>
                                        </div>
                                    </li>
                                    <li class="li_R">
                                        <h3 class="inline text-primary noMg tex-cost"><strong><span class="order-total-cost">12,000</span>원</strong></h3>
                                    </li>
                                </ul>
                                <input type="hidden" name="chk" value="1">
                                <button type="button" class="btn btn-default text-primary chBtn btn-lg wp100">선택취소</button>
                            </div><!--// ed : cell -->

                        </div>

                        <div class="pt75"></div>
                        <div class="order-totalCost row nopadding">

                            <div class="col-sm-6">
                                <h4><img alt="" src="/static/images/ico-bag.gif">  <strong>구매확정시 포인트 <span class="text-primary">635</span> Point.</strong></h4>
                            </div>

                            <div class="col-sm-6">
                                <div class="order-cart-cost-tbl">
                                    <table>
                                        <tr>
                                            <th>총상품 금액</th>
                                            <td><span class="price-cost">61,000</span> 원</td>
                                        </tr>
                                        <tr>
                                            <th>배송비</th>
                                            <td><span class="trans-cost">2,500</span> 원</td>
                                        </tr>
                                        <tr class="order-cart-cost-tbl-total">
                                            <th>결제 예정 금액</th>
                                            <td><span class="total-cost">63,500</span> 원</td>
                                        </tr>
                                    </table>
                                </div><!--// ed :order-cart-cost-tbl -->
                            </div>
                        </div><!--// ed :order-totalCost -->
                        <div class="pt10"></div>

                        <button type="button" class="btn btn-gray">선택상품 삭제</button>
                        <button type="button" class="btn btn-gray">선택상품 찜</button>
                        <div class="pt10"></div>

                        <div class="order-submit text-right">
                            <button type="button" class="btn btn-primary btn-outline btn-lg otherBtn">쇼핑 계속하기</button>
                            <button type="button" class="btn btn-primary btn-lg paymentBtn noMg">주문하기</button>
                        </div>

                        <div class="pt75"></div>
                        <h4 class="text-primary"><strong>&lt; 배송비 안내 &gt;</strong></h4>
                        <p>자주 구매하시거나 마음에 드는 상품들을 일명 “ 찜 ” 해 놓을 수 있는 기능입니다.<br>내가 원하는 상품들만 쏙쏙 골라 한눈에 볼 수 있죠. </p>
                        <div class="box-line">
                            <ul>
                                <li>1. “ 찜 ”하고 싶은 상품에 좋아요 하트 버튼을 누른다.<br>( 메인페이지와 상품페이지 구매하기영역에서 누를 수 잇어요! )</li>

                                <li> 2. 각 메인페이지와 마이삿갓페이지의 [ 좋아요♥ ] 혹은 [ ♥ ]버튼 클릭 후 좋아요 설정을 수정하거나 원하는 제품만 골라서 바로 주문하거나 장바구니에 담을 수 있습니다.</li>
                            </ul>
                        </div>

                    </div><!--//  ed :  my-cart -->



                </div><!--// ed : my contents -->
                <div class="clearfix"></div>
            </div>
        </div><!-- //container-->
    </section>
<link rel="stylesheet" type="text/css" href="/static/lib/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    //선택
    $(".my-cart").on("click",".cell .chBtn",function () {
        if ( $(this).prev().val() == "0") {
            $(this).prev().val("1")
            $(this).removeClass("btn-primary").addClass("btn-default").addClass("text-primary");;
            $(this).text("선택 취소")
        }  else {
            $(this).prev().val("0")
            $(this).removeClass("btn-default").addClass("btn-primary").removeClass("text-primary");;
            $(this).text("선택")
        }
    });

    //메뉴접기
    $('.my-menu h4').bind("click",function () {
        $(this).next().toggle();
    });

    //날짜선택
    jQuery.datetimepicker.setLocale('kr');
    jQuery('#date_timepicker_start').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
            })
        },
        timepicker:false
    });
    jQuery('#date_timepicker_end').datetimepicker({
        format:'Y-m-d',
        onShow:function( ct ){
            this.setOptions({
                minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
            })
        },
        timepicker:false
    });
</script>
