    <section>
        <div class="container-intro">
            <div class="container-intro-contents">

                <div class="container-intro-contents-photo">
                    <div class="user-photo">
                        <img alt="user" src="/static/images/member/sim-3.gif">
                    </div><!-- ed : user-photo -->
                    <button type="button" class="btn  btn-primary editUserProfileBtn">Edit.</button>
                </div>

                <h3><i class="fa fa-user"></i> username</h3>

                <div class="container-intro-contents-info">
                    <span class="container-intro-contents-info-arrow-top"></span>
                    <span>750 Point.</span>	  |
                    <span>Gold</span>	     |
                    <span>ohj950228@gmail.com</span>
                </div>

            </div><!--// ed : container-intro-contents -->
        </div>
        <div class="container top-intro">

            <div class="sub-title my-title">
                <ul class="LBox">
                    <li class="category-title">
                        <h1><img alt="마이삿갓" src="/static/images/my_h1.gif"></h1>
                    </li>
                    <li>
                        <!--<h1><img alt="마이페이지" src="/static/images/notify_h1.gif"></h1>-->
                        <div class="my-section-ment">
                            삿갓유통을 마음껏 즐길 수 있는절호의 찬스
                        </div>
                    </li>
                </ul>
            </div><!--// ed :  sub-title -->

            <div class="my-page">
                <aside>
                    <ul  class="my-menu">

                        <li class="depth1">
                            <h4>프로필 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="profile-myinfo.html">내정보</a> </li>
                                <li><a href="profile-member_leave.html">회원탈퇴..</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>혜택 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="advantage-point.html">삿갓포인트</a> </li>
                                <li><a href="advantage-coupon.html">삿갓쿠폰</a> </li>
                                <li><a href="advantage-coupon-regi.html">쿠폰입력</a> </li>
                                <li><a href="advantage-level.html">등급</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>장보기 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="cart-my.html">장바구니</a> </li>
                                <li><a href="cart-search.html">주문/배송조회</a> </li>
                                <li><a href="cart-like.html">좋아요♥</a> </li>
                            </ul>
                        </li>

                        <li class="depth1">
                            <h4>고객센터 <i class="fa fa-angle-down"></i></h4>
                            <ul class="depth2">
                                <li><a href="help-direct.html">1:1 상담</a> </li>
                                <li><a href="help-faq.html">자주 묻는 질문</a> </li>
                                <li><a href="help-notify.html" class="active">공지사항</a> </li>
                                <li><a href="help-event.html">이벤트 소식</a> </li>
                            </ul>
                        </li>

                    </ul><!--// ed : my aside menu -->
                </aside>
                <div class="my-contents">
                    <h4 class="section-title">공지사항 <small>드릴 말씀이 있어요..</small></h4>
                    <div class="help-direct">
                        <div class="pt20"></div>
                        <div class="bbs-view">
                            <table class="table tbl text-left">
                                <colgroup>
                                    <col style="width: 14%">
                                    <col style="width: 36%">
                                    <col style="width: 14%">
                                    <col style="width: 36%">
                                </colgroup>
                                <tr>
                                    <th>제목</th>
                                    <td colspan="3" style="border-top-color:#EEE">[ 공지 ] 공지공지 민공지</td>
                                </tr>
                                <tr>
                                    <th>작성자</th>
                                    <td>삿갓총각</td>
                                    <th>작성일</th>
                                    <td>2016-11-00 00:00:00</td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div  class="bbs-contents">
                                            날씨가 쌀쌀해지면서 겨울 제철 먹거리의 계절이 다시 돌아오고 있습니다.<br>
                                            산지조업량 증가로 인해 시세가 대폭 인하된 자연산 돌문어.<br>
                                            아마 1년 중, 이런 가격으로 싱싱하고 맛있는 제철 돌문어를 만나보실 수 있는 기회는,<br>
                                            분명 흔치 않을 거라 생각합니다.<br>
                                            <br>
                                            말그대로 - 파격적인 할인 행사를 진행하오니<br>
                                            해산물을 좋아하는 삿갓회원님들이라면<br>
                                            이 기회를 꼭 놓치지 마시기 바랍니다.<br>
                                            <br>
                                            감사합니다!<br>
                                        </div><!--// ed : bbs-contents -->
                                    </td>
                                </tr>
                            </table>
                            <ul class="LBox noMg">
                                <li>
                                    <a href="#" class="btn btn-gray w100">◀ 이전글</a>
                                    <a href="#" class="btn btn-gray w100">다음글 ▶</a>
                                </li>
                                <li class="li_R">
                                    <a href="help-notify.html" class="btn btn-gray w100">목록</a>
                                </li>
                            </ul>
                            <div class="pt4"></div>
                            <hr class="noMg light">
                            <div class="pt20"></div>
                        </div><!--// ed : bbs-view : notify -->

                        <!-- 댓글 등록 -->
                        <div  id="commetn-form-buy"  class="chatt-box-form">
                            <table class="chatt-from  comment-btn">
                                <tr>
                                    <td style="width: 80px">
                                        <!-- user photo -->
                                        <div class="user-photo">
                                            <img alt="" src="/static/images/member/sim-1.gif"
                                        </div>
                                    </td>
                                    <td style="width: *">
                                        <input type="text" id="" name="" class="form-control"  placeholder=" 댓글쓰기"></input>
                                    </td>
                                    <td style="width: 55px">
                                        <button type="button" class="btn btn-default btn-lg submitBtn"><img alt="입력" src="/static/images/ico-pen.gif"></button>
                                    </td>
                                </tr>
                            </table><!--// chatt-from -->
                            <!-- 댓글 추가  -->
                            <table class="chatt-from comment-regi none">
                                <tr>
                                    <td style="width: 80px">
                                        <!-- user photo -->
                                        <div class="user-photo">
                                            <img alt="" src="/static/images/member/sim-1.gif"
                                        </div>
                                    </td>
                                    <td style="width: *">
                                        <div class="comment-regi-box">
                                            <div>
                                                <div class="float-left">userid</div>
                                                <small class="float-right">작성중</small><div class="clearfix">
                                            </div>
                                                <textarea id="" name="" placeholder="상품이 마음에 드셧나요? 솔직한 구매후기를 남겨주세요"></textarea>
                                                <div class="pt4"></div>
                                                <div class="float-right">
                                                    <button type="button" class="btn btn-default btn-sm w80 cancelCommentBtn">취소</button>
                                                    <button type="submit" class="btn btn-primary btn-sm w80 regiCommentBtn">저장</button>
                                                </div><div class="clearfix"></div>
                                                <div class="pt6"></div>
                                            </div>
                                    </td>
                                </tr>
                            </table>
                        </div><!--// ed : 댓글 입력 chatt-from -->
                        <div class="pt10"></div>
                        <hr class="light">
                        <ul class="box-chatting">

                            <li class="chatt-customer ">
                                <div class="row nopadding">
                                    <div class="user-info text-center">

                                        <!-- user 사진 -->
                                        <div class="user-photo">
                                            <img alt="" src="/static/images/member/sim-1.gif">
                                        </div><!--//user photo -->

                                    </div>
                                    <div  class="user-comment">
                                        <div class="box-chatting-commet">
                                            <!-- user 기본정보 -->
                                            <ul class="LBox">
                                                <li>
                                                    <h4>User</h4>
                                                </li>
                                                <li class="li_R">
                                                <span class="date">
                                                    ( 2016-00-00 00:00:00)
                                                </span>
                                                    <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>

                                                    <!-- 댓글 수정 컨트롤  -->
                                                    <div class="box-chatting-edit none ">
                                                        <button type="button" data-id="regi"  class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                        <button type="button" data-id="modi" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                        <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                                    </div>

                                                </li>
                                            </ul>

                                            <!-- 댓글 -->
                                            <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                                생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                            </div><!--//  ed : 댓글 -->

                                            <!-- 댓글 수정 -->
                                            <div class="chatt-from commont-modi  none">
                                                <textarea id="" name="" placeholder=""></textarea>
                                                <div>
                                                    <div class="float-right">
                                                        <button type="button" class="btn btn-default btn-sm w80 cancelCommentModiBtn">취소</button>
                                                        <button type="submit" class="btn btn-primary btn-sm w80 commentRegiBtn">댓글달기</button>
                                                        <button type="submit" class="btn btn-warning btn-sm w80 commentModiBtn">수정</button>
                                                    </div><div class="clearfix"></div>
                                                    <div class="pt6"></div>
                                                </div>
                                            </div><!--// ed :  댓글 수정 chatt-from -->
                                        </div>

                                    </div><!--//box-chatting-commet -->
                                </div>
                            </li><!--//  ed : 댓글 -->

                            <li class="chatt-customer ">
                                <div class="row nopadding">
                                    <div class="user-info text-center">

                                        <!-- user 사진 -->
                                        <div class="user-photo">
                                            <img alt="" src="/static/images/member/sim-1.gif">
                                        </div><!--//user photo -->

                                    </div>
                                    <div  class="user-comment">
                                        <div class="box-chatting-commet">
                                            <!-- user 기본정보 -->
                                            <ul class="LBox">
                                                <li>
                                                    <h4>User</h4>
                                                </li>
                                                <li class="li_R">
                                                <span class="date">
                                                    ( 2016-00-00 00:00:00)
                                                </span>
                                                    <button type="button" class="btn btn-trans btn-sm commentSetBtn"><i class="fa fa-ellipsis-v"></i> </button>

                                                    <!-- 댓글 수정 컨트롤  -->
                                                    <div class="box-chatting-edit none ">
                                                        <button type="button" data-id="regi"  class="btn btn-default btn-sm wp100 commentBtn">댓글쓰기</button>
                                                        <button type="button" data-id="modi" class="btn btn-default btn-sm wp100 modiBtn">수정</button>
                                                        <button type="button" class="btn btn-default btn-sm wp100 delBtn">삭제</button>
                                                    </div>

                                                </li>
                                            </ul>

                                            <!-- 댓글 -->
                                            <div class="box-chatting-commet-con">처음으로 청귤구매해서 청을 담갔는데요~

                                                생각보다 알이 작고 노란것도 있고 그래서 약간은 실망을 했긴 했는데 그래도 믿을 만하니 맛나게 청귤청담가 맛있게 먹겠습니다~
                                            </div><!--//  ed : 댓글 -->

                                            <!-- 댓글 수정 -->
                                            <div class="chatt-from commont-modi  none">
                                                <textarea id="" name="" placeholder=""></textarea>
                                                <div>
                                                    <div class="float-right">
                                                        <button type="button" class="btn btn-default btn-sm w80 cancelCommentModiBtn">취소</button>
                                                        <button type="submit" class="btn btn-primary btn-sm w80 commentRegiBtn">댓글달기</button>
                                                        <button type="submit" class="btn btn-warning btn-sm w80 commentModiBtn">수정</button>
                                                    </div><div class="clearfix"></div>
                                                    <div class="pt6"></div>
                                                </div>
                                            </div><!--// ed :  댓글 수정 chatt-from -->
                                        </div>

                                    </div><!--//box-chatting-commet -->
                                </div>
                            </li><!--//  ed : 댓글 -->

                        </ul>

                    </div><!--// ed : help-direct -->
                </div><!--// ed : my contents -->
                <div class="clearfix"></div>
            </div>
        </div><!-- //container-->
    </section>
<link rel="stylesheet" type="text/css" href="/static/lib/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    /*== == == == 커뮤니티  ==== == == == */
    //== 기본 입력창
    //댓글입력 :  상단기본등록
    $('.comment-btn').bind("click",function(){
        $(this).toggleClass('none')
        $(this).next().toggleClass('none')
    })

    //댓글취소 : 상단기본등록
    $('.cancelCommentBtn').bind("click",function(){
        $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().find('.comment-btn').toggleClass('none')
        var regitg = $(this).parent().parent().parent().parent().parent().parent().parent().parent().parent().find('.comment-regi');
        regitg.toggleClass('none')
        regitg.find('textarea').val("");
    });

    //댓글 submit
    $(".submitBtn").bind("click", function (e)  {
        $('#commentFrm input[name="comment"]').val($(this).parent().prev().find("textarea").val())
        $('#commentFrm').submit();
    })

    //== 선택댓글 입력창
    //선택댓글의 셋팅버튼 열기
    $('.my-contents').on("click",".commentSetBtn", function (e)  {
        $(this).next().toggleClass('none');
    });

    //댓글 쓰기 :  입력창 열기
    $('.my-contents').on("click",".commentBtn", function (e)  {
        $(this).parent().addClass('none');
        $(this).parent().parent().parent().parent().find('.chatt-from .commentRegiBtn').removeClass('none');
        $(this).parent().parent().parent().parent().find('.chatt-from .commentModiBtn').addClass('none');
        $(this).parent().parent().parent().parent().find('.chatt-from').removeClass('none');
    })

    //선택댓글 수정 :  입력창 열기
    $('.my-contents').on("click",".modiBtn", function (e)  {
        $(this).parent().addClass('none');
        $(this).parent().parent().parent().parent().find('.chatt-from .commentRegiBtn').addClass('none');
        $(this).parent().parent().parent().parent().find('.chatt-from .commentModiBtn').removeClass('none');
        $(this).parent().parent().parent().parent().find('.chatt-from').removeClass('none');
    })

    //선택댓글 삭제
    $('.my-contents').on("click",".delBtn", function (e)  {

    })

    //선택댓글  입력창 닫기
    $('.my-contents').on("click",".cancelCommentModiBtn",function(){
        $(this).parent().parent().parent().parent().find('.chatt-from').toggleClass('none');
    });

    //선택댓글  수정사항  저장하기
    $('.my-contents').on("click",".regiCommentBtn",function(){

    });

    //메뉴접기
    $('.my-menu h4').bind("click",function () {
        $(this).next().toggle();
    });

    //본문 리스트 toggle
    $('.showDetailBtn').bind("click",function () {
        $(this).parent().parent().next().toggleClass('none');
    })
</script>
