<section>
    <div class="container-intro">
        <div class="container-intro-contents">

            <div class="container-intro-contents-photo">
                <div class="user-photo">
                    <img alt="user" src="/static/images/member/sim-3.gif">
                </div><!-- ed : user-photo -->
                <button type="button" class="btn  btn-primary editUserProfileBtn">Edit.</button>
            </div>

            <h3><i class="fa fa-user"></i> username</h3>

            <div class="container-intro-contents-info">
                <span class="container-intro-contents-info-arrow-top"></span>
                <span>750 Point.</span>	  |
                <span>Gold</span>	     |
                <span>ohj950228@gmail.com</span>
            </div>

        </div><!--// ed : container-intro-contents -->
    </div>
    <div class="container top-intro">

        <div class="sub-title my-title">
            <ul class="LBox">
                <li class="category-title">
                    <h1><img alt="마이삿갓" src="/static/images/my_h1.gif"></h1>
                </li>
                <li>
                    <!--<h1><img alt="마이페이지" src="/static/images/notify_h1.gif"></h1>-->
                    <div class="my-section-ment">
                        삿갓유통을 마음껏 즐길 수 있는절호의 찬스
                    </div>
                </li>
            </ul>
        </div><!--// ed :  sub-title -->

        <div class="my-page">
            <aside>
                <ul  class="my-menu">

                    <li class="depth1">
                        <h4>프로필 <i class="fa fa-angle-down"></i></h4>
                        <ul class="depth2">
                            <li><a href="profile-myinfo.html">내정보</a> </li>
                            <li><a href="profile-member_leave.html">회원탈퇴..</a> </li>
                        </ul>
                    </li>

                    <li class="depth1">
                        <h4>혜택 <i class="fa fa-angle-down"></i></h4>
                        <ul class="depth2">
                            <li><a href="advantage-point.html">삿갓포인트</a> </li>
                            <li><a href="advantage-coupon.html">삿갓쿠폰</a> </li>
                            <li><a href="advantage-coupon-regi.html">쿠폰입력</a> </li>
                            <li><a href="advantage-level.html">등급</a> </li>
                        </ul>
                    </li>

                    <li class="depth1">
                        <h4>장보기 <i class="fa fa-angle-down"></i></h4>
                        <ul class="depth2">
                            <li><a href="cart-my.html">장바구니</a> </li>
                            <li><a href="cart-search.html">주문/배송조회</a> </li>
                            <li><a href="cart-like.html">좋아요♥</a> </li>
                        </ul>
                    </li>

                    <li class="depth1">
                        <h4>고객센터 <i class="fa fa-angle-down"></i></h4>
                        <ul class="depth2">
                            <li><a href="help-direct.html">1:1 상담</a> </li>
                            <li><a href="help-faq.html">자주 묻는 질문</a> </li>
                            <li><a href="help-notify.html">공지사항</a> </li>
                            <li><a href="help-event.html" class="active">이벤트 소식</a> </li>
                        </ul>
                    </li>

                </ul><!--// ed : my aside menu -->
            </aside>
            <div class="my-contents">
                <h4 class="section-title">이벤트 <small>이벤트 !! 놓치지 않을 거에요 ~</small></h4>
                <div class="help-direct">
                    <div class="pt20"></div>
                    <div class="bbs-list">
                        <table class="table tbl text-center">
                            <colgroup>
                                <col style="width: 60px">
                                <col>
                                <col style="width: 170px">
                                <col style="width: 80px">
                                <col style="width: 60px">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>글쓴이</th>
                                <th>날짜</th>
                                <th>조회</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr>
                                <th data-tit="번호">116</th>
                                <td data-tit="제목" class="text-left">
                                    <a href="help-event_view.html">[ 공지 ] 개천절 택배공지</a>
                                </td>
                                <td data-tit="글쓴이">
                                    삿갓유통
                                </td>
                                <td data-tit="날짜">
                                    <span>11-26</span>
                                </td>
                                <td data-tit="조회">
                                    <span>60</span>
                                </td>
                            </tr>

                            <tr>
                                <th data-tit="번호">116</th>
                                <td data-tit="제목" class="text-left">
                                    <a href="help-event_view.html">[ 공지 ] 개천절 택배공지</a>
                                </td>
                                <td data-tit="글쓴이">
                                    삿갓유통
                                </td>
                                <td data-tit="날짜">
                                    <span>11-26</span>
                                </td>
                                <td data-tit="조회">
                                    <span>60</span>
                                </td>
                            </tr>

                            <tr>
                                <th data-tit="번호">116</th>
                                <td data-tit="제목" class="text-left">
                                    <a href="help-event_view.html">[ 공지 ] 개천절 택배공지</a>
                                </td>
                                <td data-tit="글쓴이">
                                    삿갓유통
                                </td>
                                <td data-tit="날짜">
                                    <span>11-26</span>
                                </td>
                                <td data-tit="조회">
                                    <span>60</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <div class="pt20"></div>

                        <div class="pagination-cs text-center">
                            <strong>1</strong>
                            <a href="help-event.html">2</a>
                            <a href="help-event.html">3</a>
                            <a href="help-event.html">4</a>
                        </div><!--// ed :  pagination -->
                        <div class="pt20"></div>

                        <!-- search list -->
                        <div class="search-form text-center">
                            <form id="Frm" name="" action="#">
                                <select id="category" class="form-control inline w100">
                                    <option value="0" selected>제목</option>
                                    <option value="1">글쓴이</option>
                                    <option value="2">날짜</option>
                                </select>
                                <input type="text" id="searchWord" name="" class="form-control inline w200">
                                <button type="submit" class="btn btn-primary btn-sm">검색</button> &nbsp;
                                <label><input type="radio" id="and" name="type" checked> and</label> &nbsp;
                                <label><input type="radio" id="or" name="type" > or</label>
                            </form>
                        </div><!--//ed :  search-form : list -->
                    </div><!--// ed : bbs-list : event -->

                </div><!--// ed : help-direct -->
            </div><!--// ed : my contents -->
            <div class="clearfix"></div>
        </div>
    </div><!-- //container-->
</section>
<link rel="stylesheet" type="text/css" href="/static/lib/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/lib/datetimepicker/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript">
    //메뉴접기
    $('.my-menu h4').bind("click",function () {
        $(this).next().toggle();
    });

    //본문 리스트 toggle
    $('.showDetailBtn').bind("click",function () {
        $(this).parent().parent().next().toggleClass('none');
    })
</script>
