
    <section>
        <div class="container">
            <div class="sort-menu">
                <a href="#" class="activate">전체보기</a>
                <a href="#">다이어트</a>
                <a href="#">제철음식</a>
                <a href="#">♥</a>
            </div><!--//sort -->
            <div class="list">

                <div class="row">
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/deals/deal_view.html"
                               style="background-image: url(/static/images/sample-photo.jpg)">
                                <div class="info">
                                    유럽토마토
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/deals/deal_view.html"
                               style="background-image: url()">

                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/deals/deal_view.html"
                               style="background-image: url()">
                                <div class="info">
                                    유럽토마토
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/deals/deal_view.html"
                               style="background-image: url()">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/deals/deal_view.html"
                               style="background-image: url()">
                                <div class="info">
                                    유럽토마토
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="cell">
                            <a href="/deals/deal_view.html"
                               style="background-image: url()">
                            </a>
                        </div>
                    </div>

                </div>

            </div><!--//list -->
        </div>
    </section>
