//== element reset
* {
  box-sizing: border-box;
}
html,body { height:100% }
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-style: normal;
}
a:hover {
  text-decoration: none;
}
.row.nopadding {
  margin: 0 auto !important;
  padding: 0;
  [class*="col-"] {
    padding: 0;
  }
}
.inline {
  display: inline-block;
}
.inline,input,select,button,table  {
  vertical-align: middle;
}
.radio {
  padding:4px 0;
  label { margin-right: 1em;}
  [type="radio"] {
    vertical-align: top;
    margin: 1px 4px 1px 0;
  }

}

img { vertical-align: top}

hr { margin:10px auto 0 auto 20px; border-top:1px solid $gray-light;  }

//== form
.form-control {
  height: 30px;
}
.form-inline .form-control {
  margin-right: 2px !important;
}
.input-group-btn .btn {
  height:30px ;
}
//== size
$width-list: 50 100 110 120 150 200 210 250 300;
@each $size_ in $width-list {
  //너비셋팅
  .w#{$size_}{//고정
    width: $size_ * 1px !important;
  }
  .mxw#{$size_}{//최대크기
    max-width: $size_ * 1px;
  }
  .miw#{$size_}{//최소크기
    min-width: $size_ * 1px;
  }
}
//== color
.red  { color:$brand-danger}
.blue  { color:$brand-primary}
.yellow { color:$brand-warning}
.green { color:$brand-success }
.gray { color: $gray-light}

//== padding
$padding-list: 2 4 5 6 10 20;
@each $pd_ in $padding-list {
  .ap#{$pd_}{//전체 간격
    padding: $pd_ * 1px;
  }
  .pt#{$pd_}{//전체 간격
    padding-top: $pd_ * 1px !important;
  }
  .mb#{$pd_}{//전체 간격
    margin-bottom: $pd_ * 1px;
  }
}

//== 타이포 정렬
.float-left {
  float: left;
}
.float-right {
  float: right;
}

ul.LBox		{ padding:0; border:0; list-style: none}
.LBox:after	{ content:" "; display:block; clear:both;}
.LBox > li	{ float:left; padding:0; border:0;}
.LBox > li.li_R	{ float:right; }

ol.action-result {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    text-align: left;
    margin-bottom: 6px;
  }
}

.noround {
  border-radius: 0 !important;
}
.table.noline {
  &,td,th {
    border: 0;
  }
}

.form-control.btn-sm {
  height: 28px;
  padding:3px 10px ;
}