//== 이용안내
.help-desk {
  .sub-title {
    border: 0 !important;
    h1 {
      padding: 110px 0 40px;
      text-align: center;
    }
  }
  .show-info {
    max-width:960px;
    margin: 0 auto;
  }
  .row {
    padding-top:15px ;
    padding-bottom: 15px;
  }
  .cell {
    border: 1px solid #32b16c;
    padding: 28px;
    color:#a8a8a8;
    font-size: 16px;
    min-height: 270px;
    .LBox {
      margin: 0;
    }
    h4 {
      margin: 0;
      padding-top: 16px;
      font-size: 2em;
      font-weight: bold;
      color: #777;
    }
    .tel-number {
      font-size: 2.7em;
      color: #777;
      font-weight: bold;
      letter-spacing: 2px;
    }
    .sline {
      width: 52px;
      border: 0;
      border-top: 8px solid  #32b16c;
      margin: 0 !important;
      text-align: left;
    }
    .in-con {
      font-size: 18px;
      text-align: justify;
    }
    .con {
      padding-top: 100px;
    }
    .btn {
      width: 47%;
      height: 46px;
      line-height: 34px;
      max-width: 194px;
      letter-spacing: 1px;
      font-size: 18px;
      font-weight: bold;
      color: #FFF;
      background: #32b16c;
    }
  }
}
