//==  섹션 메뉴
.sort-menu.deal-vew {
  box-sizing: border-box;
  position: fixed;
  top:46px;
  z-index: 2;
  @media (max-width: $thema-mobile-width) {
    top:80px;
    left: 0;
    right: 0;
  }
}
.disableTopBnr .sort-menu.deal-vew {
  @media (max-width: $thema-mobile-width) {
    top:28px;
  }
}

//==  커뮤니티
.box-chatt {
  .line-right {
    margin-right: -1px;
  }
  @media (max-width: $thema-mobile-width) {
    zoom: 0.5;
    & .line-right,& .line-left {
      margin: 0;
      border: 0;
    }
  }
  .moreBtn {
    height: 44px;
    color: #B0B0B0;
    border-color: #A0C3FF;
    &:hover {
      color:#000;
    }
  }
}
//== 타이틀
.chatt-title {
  h2 {
    margin-bottom: 4px;
    font-weight: bold;
  }
  h1 {
    margin: 0;
    margin-bottom: 11px;
    font-weight: normal;
  }
  p {
    color: $gray-light;
  }
}
//== 댓글입력
.chatt-box-form {
  padding:11px 15px;
  background: #EEEEEE;

}
.chatt-from {
  width: 100%;
  height: 50px;
  .user-photo {
    width:50px;
    height: 50px;
    border-radius: 5px;
  }
  th { vertical-align: top}
  td {
    border: 0;
    padding: 0;
    vertical-align:middle;
  }
  &.comment-btn {
    input[type="text"].form-control {
      height: 40px;
      border: 0;
      border-radius: 3px 0 0 3px;
      margin: 0;
      vertical-align: top;
      box-shadow: none;
    }
    button {
      width: 55px;
      height: 40px;
      border: 0;
      border-radius: 0 3px 3px 0;
      vertical-align: top;
      &:hover {
        background: #FFF;
      }
    }
  }
  &.comment-regi {
    .comment-regi-box {
      padding: 1em;
      padding-bottom: 0;
      border-radius: 3px;
      background: #FFF;
      small {
        font-size: 11px;
        color: #999;
      }
      textarea {
        width: 100%;
        height:150px;
        resize: vertical;
        padding:10px 0;
        border: 0;
        border-radius: 3px 0 0 3px;
        margin: 0;
        margin-bottom: -5px;
        &.innerBd {
          height: 150px;
          padding: 0.5em;
          resize: vertical;
          border: 1px solid #EEE;
        }
      }
    }
  }
}

//== chatting 내역
.box-chatting {
  list-style: none;
  margin-top:25px ;
  padding: 0;

  //== 챗팅 본문
  .user-photo {
    width: 100%;
    max-width:60px;
    height: 40%;
    max-height: 60px;
    border: 1px solid #EEE;
    border-radius: 5px;
    background: #FFF;
  }
  .box-chatting-edit {
    position: absolute;
    width: 76px;
    top:0;
    right: 28px;
    border: 1px solid #F3F3F3;
    z-index: 1;
    button {
      border: 0;
      border-radius: 0;
    }
  }
  .box-chatting-commet {
    position: relative;
    width: 100%;
    padding-left: 15px;
    color: #838383;
    background: #FFF;
    h4 {
      margin: 0;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: bold;
    }
    .date {
      font-size: 11px;
    }
    .li_R {
      color: #838383;
    }

    .box-chatting-commet-con {
      padding-top: 5px;
      font-size: 12px;
      white-space: pre-line;
    }
    .chatt-from {
      &.commont-modi {
        margin-top: 10px;
        padding: 0.5em 0.5em  0;
        height: auto;
        background: #FFF;
        textarea {
          width: 100%;
          resize: none;
          border: 0;
          &.innerBd {
            height: 150px;
            padding: 0.5em;
            resize: vertical;
            border: 1px solid #EEE;
          }
        }
      }
    }
  }
  .chatt-customer {
    padding: 20px 30px;
    background:#F5F5F5 ;
    border-radius: 7px;
    margin-bottom: 25px;
    .box-chatting-commet {
      background: #F5F5F5;
    }
    .chatt-contants {
      padding-top: 20px;
      &.box-chatting-commet {
        padding: 0;
      }
    }
    .commentSetBtn {
      padding: 0 10px;
      margin-right:-15px;
    }
    .box-chatting-edit {
      right: 14px;
    }
  }
  .chatt-helper {
    margin-bottom:25px;
    padding: 20px 16px;
    margin-left: 30px;
    border-radius: 7px;
    border: 1px solid #EEE;
    h4 {
      margin: 0;
      margin-bottom: 5px;
      font-size: 13px;
      font-weight: bold;
      color:#696969;
    }
    .date {
      font-size: 11px;
      color:#9A9A9A;
    }
  }
  .col-xs-9 {
    padding-top:5px !important;
  }
}
.moreBuyBtn {
  padding: 0.8em 0;
  border-radius: 25px;
  border-color: #A0C3FF;
}
//== 구매하기
//== prod-header :  딜 캐러셀 및 상품가격정보, 구매 이벤트 처리
.prod-header {
   padding-bottom: 10px;
  @media (max-width: $thema-mobile-width) {
    border-bottom:2px solid $gray-lighter;
  }
  .prod-carousel {
    .fotorama {
      border:1px solid #CED0CD;
    }
  }
  .prod-tbl {
    color:#707070;
    margin: 0;
    th, td {
      padding: 1em 10px;
      padding-right: 0;
      font-size: 1.1em;
    }
    th {
      font-weight: normal;
    }
    small {
      font-size: 11px;
      color: #CBCBCB;
      button {
        color: #B0B0B0;
      }
    }
    .btm {
      th,td {
        padding-bottom: 0;
      }
    }
  }
  .option-choice {
    padding-right: 3px;
  }
  .prod-buy-choiceBox {
    padding-left: 11px;
    padding-right:3px;
    .row {
      border: 1px solid #E6E6E6;
      padding: 1.2em 1em;
    }
  }
  .prod-lastcost {
    padding: 0.2em 0 0.4em;
    padding-left: 10px;
  }


}
.fixedble {
  position: relative;
  //== 상품 submit
  .prod-submit {
    padding-left:8px;
    .btn {
      width: 100%;
      padding: 0.5em 0;
      text-align: center;
    }
    .row.nopadding [class*="col-xs-"] {
      padding: 3px;
    }
    [class="col-xs-1"] {
      width: 10%;
    }
    [class="col-xs-5"] {
      width:40% ;
    }
  }


  //모바일에선 fixed
  @media (max-width: $thema-mobile-width) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    .option-choice {
      padding-right: 0;
    }
    .show-option {
      margin-bottom: -2px;
      .btn {
        padding: 0;
      }
    }
    .box-option {
      display: none;
      padding: 10px;
      padding-bottom: 0;
      background: #eee;
      th {
        display: none;
      }
      td {
        padding: 0;
      }
    }
    .prod-buy-choiceBox {
      padding: 0;
      background: #FFF;
      .choiceBox-title {
        padding-bottom: 10px;
      }
      .box-amount {
        padding: 0;
        text-align: left;
      }
    }
    .prod-submit {
      text-align: center;
      padding:8px  8px;
      background: #eee;
    }
  }
}
