body {
  background-color:#ECECEC;
}
.wrap {
  height:100%;
  max-width:1000px;
  min-height:500px;
  overflow:hidden;
  .header {
    border-bottom:1px solid #C9C9C9;
    background:#3C3F41 ;
    h1 {
      padding-left:20px;
      margin:0;
      a {
        display: block;
        height:68px;
        padding:0;
        color:#5BC0DE;
        line-height:60px;
        text-shadow:1px 2px 4px rgba(0,0,0,0.5) ;
      }
      a:hover {
        color: #96d8de;
      }
    }
  }
  .section {
    height:100% ;
    padding:0 20px 20px;
    overflow: auto;
    #container {
      height: 100%;
    }
  }

}

.footer {

}