* {
  box-sizing: border-box;
}
html,body {
  height:100%;
}
body {
  font-family:'Nanum Barun Gothic';
  font-size: 14px;
  background-color:#FFF;
}

.Wrap {
  height:100%;
  //== topbanner hide
  &.disableTopBnr  .header {
    top: -45px;
  }
  &.disableTopBnr  .container-intro {
    margin-top: 51px;
  }
  &.disableTopBnr  .container {
    padding-top: 51px;
    &.top-intro {
      padding-top: 0;
    }
  }

  &.disableTopBnr .container  .sort-menu {
    margin-top: 4px;
  }
  //== header
  .header {
    position: fixed;
    top:0;    left: 0;    right: 0;
    background: #333;
    z-index: 3;
    transition: top 0.5s  ease;
    //== header banner
    .header-banner {
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #FFF;
      font-size: 1.3em;
      background: #7199CE;
      .header-banner-view {
        max-width: 1240px;
        margin: 0 auto;
      }
      .closeTopBannerBtn {
        float: right;
        height: 45px;
        border: 0;
        background: transparent;
        small {
          position: relative;
          top:-2px;
          font-size: 0.6em;
          margin-right: 1em;
        }
        @media (max-width: $thema-mobile-width) {
          & small {
            display: none;
          }
        }
      }
    }
    //== navigation : desktop top menu
    .pc-topmenu {
      position: relative;
      height: 49px;
      line-height: 46px;
      //max-width: 1240px;
      margin: 0 auto;
      .LBox {
        margin: 0;
      }
      .nav-btn {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        padding: 0 35px;
        border: 0;
        border-right:1px solid #000;
        border-radius: 0;
        font-weight: bold;
        font-size: 1em;
        color: #CDCDCD;
        background: #333;
        box-sizing: border-box;
        transition: padding 0.5s ;
        &:hover {
          color: #FFF;
        }
        &.homeBtn {
          border-left:1px solid #000;
        }
        &.satgatMailBtn, &.csBtn {
          padding: 0 16px;
        }
        &.cartBtn {
          border-right: 0;
          font-size: 1.3em;
        }
        &.btn-sm {
          position: relative;
          width: 55px;
          padding: 0 8px;
          i {
            font-size: 1.2em;
          }
          .badge {
            position: absolute;
            top:10px; right: 10px;
            padding: 1px 3px;
            font-size: 9px;
            border-radius: 2px;
            background: $brand-danger;
          }
        }
        @media (max-width: 1040px) {
          padding: 0 20px;
        }
      }
      .searchBox {
        width: 40%;
        #searchCommonFrm {
          height: 46px;
          line-height: 46px;
          padding-left:4%;
          input {
            display: inline-block;
            border: 0;
            border-radius: 6px 0 0 6px;
            width: 88%;
          }
          button {//submit button
            width: 40px;
            height: 30px;
            line-height: 30px;
            border: 0;
            border-radius: 0 6px 6px 0;
            color: #B0B0B0;
            background: #FFF;
          }
          button:hover {
            color: #333;
          }
        }
        @media (max-width: 1240px) {
          width: 38%;
        }
        @media (max-width: 1040px) {
          width: 34%;
          & #searchCommonFrm input {
            width: 84%;
          }
        }
        @media (max-width: 970px) {
          width: 28%;
          & #searchCommonFrm input {
            width: 80%;
          }
        }
        @media (max-width: 800px) {
          width: 25%;
          & #searchCommonFrm input {
            width: 76%;
          }
        }
      }
      @media (max-width: $thema-mobile-width) {
        display: none;
      }
      //== user
      .userBtn {
        width: 112px;
        height: 45px;
        line-height: 45px;
        border: 0;
        text-align: center;
        color: #CDCDCD;
        background: #282828;
        &:hover {
          color: #FFF;
        }
      }


      //== 알림창
      .alarm {
        display: none;
        position: absolute;
        top:46px;right: 0;
        width: 360px;
        font-size: 11px;
        color: #CDCDCD;
        background: rgba(0,0,0,0.75);
        z-index: 1;
        &.on {
          display: block;
        }
        ul {
          width: 360px;
          margin: 0;
          padding: 0 2em;
          list-style: none;
          line-height: 2em;
          li {
            list-style: none;
            padding: 1em 0;
            .checkbox {
              margin: 0;
              label {
                padding-left: 10px;
                &:before {
                  background: transparent;
                }
                &:after {
                  line-height: 16px;
                  color:#CDCDCD;
                }
              }
              input[type=checkbox] {

              }
            }
          }
        }
        .alarm-control {
          font-size: 10px;
          border-top:1px solid rgba(255,255,255,0.2);
          button {
            padding: 0 0.1em;
            border: 0;
            background: transparent;
            &:hover {
              color: #FFF;
            }
          }
        }
      }
      //== 탑메뉴 끝 그라데이션 처리
      .pc-topmenu-gr {
        height: 3px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,00578a+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(left,  #ffffff 0%, #00578a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  #ffffff 0%,#00578a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  #ffffff 0%,#00578a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00578a',GradientType=1 ); /* IE6-9 */
      }
    }

    //== navigation : mobile top menu
    .mb-topmenu {
      position: relative;
      display: none;
      height: 46px;
      line-height: 46px;
      padding: 0 10px;
      z-index: 9999;
      .listBtn {
        color:#FFF;
        font-size: 1.2em;
        background:#242424;
        &:hover {
          color:$brand-warning;
        }
      }
      // 모바일메뉴
      .mobile-menu {
        display: none;
        position: fixed;
        top:0; bottom: 0; left: 0; right: 0;
        background:rgba(0,0,0,0.4);
        z-index: 1001;
        &.active {
          display: block;
          .mb-menu-view {
            left: 0;
          }
        }
        .mb-menu-view {
          position: absolute;
          left: -250px; bottom: 0;  top:0;
          width: 250px;
          background:#7199CE;
          transition:  all 3s ease;
          .side-head {
            position: relative;
            width: 210px;
            margin: 0 auto;
            padding: 2em 0 1em;
            border-bottom:1px solid rgba(255,255,255,0.5);
            text-align: center;
            .user-photo {
              width: 80px;
              height: 80px;
            }
            .user-lv { padding: 0.2em 0; color: #FED702}
            .user-name { color: #FFF}
            .closeSideMenuBtn {
              position: absolute;
              top:0;  right: -1em;
              font-size: 1.5em;
              color: #FFF;
            }
          }
          ul {
            padding: 0;
            list-style: none;
            text-align: left;
            a {
              display: block;
              padding:0  2em;
              height: 36px;
              line-height: 36px;
              color: #FFF;
              i {
                margin-right: 0.5em;
              }
              &:hover {
                color:$brand-warning;
              }
            }
          }
        }
      }
      @media (max-width: $thema-mobile-width) {
        display: block;
      }
    }
  }

  //== 본문
  .container-intro {
    position: relative;
    padding: 0 1em;
    margin-top: 96px;
    min-height: 200px;
    background: #171614;
    transition: all 0.5s  ease;
    @media (max-width: $thema-mobile-width) {
      padding: 0  1em 20px;
      margin-top: 90px;
    }
    .container-intro-contents {
      max-width: 1000px;
      margin: 0 auto;
      padding-top: 16px;
      padding-bottom: 24px;
      text-align: center;
      color: #FFF;
      .container-intro-contents-photo {
        position: relative;
        max-width: 1000px;
        text-align: center;
        .user-photo {
          width: 132px;
          height: 132px;
        }
        .btn {
          position: absolute;
          top:66px;
          right: 0;
          width: 90px;
          border-radius: 5px;
        }
      }
      //사용자
      h3 {
        margin: 11px 0 27px;
        .fa {
          font-size: 0.8em;
        }
      }
      //== 간단한 사용자 정보
      .container-intro-contents-info {
        position: relative;
        padding: 1em 0;
        background: #0A0908;
        span {
          display: inline-block;
          margin: 0 2em;
          color: $gray-light;
        }
        .container-intro-contents-info-arrow-top {
          position: absolute;
          top:-16px;
          left:50%;
          margin-left:-16px;
          border-left:16px solid transparent;
          border-right:16px solid transparent;
          border-bottom:16px solid #0A0908;
        }
      }
    }
  }
  .container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 600px;
    padding: 0;
    padding-top: 90px;
    padding-bottom:100px;
    box-sizing: border-box;
    transition: all 0.5s  ease;
    &.top-intro {
      padding-top: 0;
    }
    @media (max-width: $thema-mobile-width) {
      padding: 90px  1em 20px;
      &.top-intro {
        padding-top: 0;
      }
    }
    //== title
    .sub-title {
      border-bottom: 2px solid #6F99CB;
      h1 { margin: 0;
        img {
          width: 100%;
        }
      }
    }

    //== 상품정렬 카테고리
    .sort-menu {
      width: 100%;
      max-width: 1000px;
      border-bottom:1px solid #EEE ;
      margin-top: 49px;
      margin-bottom: 6px;
      text-align: center;
      background: rgba(255,255,255,0.8);
      transition: all 0.5s  ease;
      @media (max-width: $thema-mobile-width) {
        margin: 0 ;
        margin-bottom: 36px;
      }
      a {
        display: inline-block;
        margin: 34px 15px 0;
        padding-bottom: 15px;
        color: #505050;
        font-weight: bold;
        font-size: 1.2em;
        text-decoration: none;
        &:hover {
          color: $brand-primary;
        }
        &.activate {
          color: $brand-primary;
          border-bottom:1px solid #6FADFF;
        }
        &.box-show-mb {
          display: none;
          @media (max-width: $thema-mobile-width) {
            display: inline-block;
          }
        }
      }
    }

    //== 상품 목록
    .list {
      @media (max-width: $thema-mobile-width) {
        margin: 0 ;
      }
      .cell {
        position: relative;
        top:0;
        margin-bottom: 2em;
        border: 1px solid #EFF0EA;
        background-image: url(../images/gift-photo-empty.gif);
        background-repeat:no-repeat ;
        background-position:center center ;
        background-size: cover ;
        box-shadow: 0 0 0 rgba(0,0,0,0);
        transition: all 0.5s ease;
        &:hover {
          top:-10px;
          border-color:#999;
          box-shadow: 0 2px 4px rgba(0,0,0,0.4);
        }
        a {
          display: block;
          position: relative;
          width: 100%;
          padding-top: 75%;
          box-sizing: border-box;
          background-repeat:no-repeat ;
          background-position:center center ;
          background-size: cover ;
          .info {
            position: absolute;
            left: 0; right: 0; bottom:0;
            padding: 1em 0.5em;
            text-align: center;
            color: #FFF;
            background: rgba(0,0,0,0.7);
          }
        }
        .info-post {
          position: relative;
          padding: 18px 0.5em;
          text-align: center;
          color: #000;
          background: #FFF;
        }
      }
    }
  }

  // == footer
  .footer {
    max-width: 1000px;
    line-height: 1.8em;
    margin: 0 auto;
    border-top:1px solid #E5E5E5;
    padding: 30px 0 ;
    text-align: center;
    font-size: 0.85em;
    color:#808080;
    box-sizing: border-box;
    @media (max-width: $thema-mobile-width) {
      padding: 30px 2em ;
    }
    .footer-nav {
      padding-bottom: 16px;
      a {
        display: inline-block;
        padding: 0 10px;
        margin: 0 9px;
        font-weight: bold;
        color:#676767;
        &:hover {
          color:$brand-info;
        }
      }
    }
  }
}

//== pc 에서만 보기
.box-show-pc {
  display: block;
  @media (max-width: $thema-mobile-width) {
    display: none;
  }
}

//== 모바일 에서만 보기
.box-show-mb {
  display: none;
  @media (max-width: $thema-mobile-width) {
    display: block;
  }
}


@media (max-width: $thema-mobile-width) {
  .list {
    .row {
      margin: 0 -6px;
      .col-xs-4 {
        padding: 2px;
        .cell {
          margin-bottom: 0;
        }
      }
    }

  }
}

//==  숫자변경
.box-amount {
  input[type="number"] {
    height: 2.7em;
  }
}
//== 사용자 사진
.user-photo {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 0.5em;
  border-radius: 50%;
  background: url(/static/images/user-photo-empty.gif) no-repeat center center;
  background-size: contain ;
  vertical-align: middle;
  overflow: hidden;
  box-shadow: inset rgba(0,0,0,0.8) 0 0 2px;
}
.user-photo img {
  width: 100%;
  height: 100%;
  box-shadow: inset rgba(0,0,0,0.8) 0 0 2px;
}

//== 메인 소메뉴
.main-menu-slid {
 display: none;
  position: relative;
  width: 100%;
  margin-bottom: -1px;
  overflow: hidden;
  a {
    display: block;
    position: relative;
    left: -1px;
    bottom: -1px;
    padding: 1.5em 0;
    text-align: center;
    color:#444;
    border-left: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    text-decoration: none;
    &:hover, &.activate {
      color: $brand-primary;
    }
  }
}