//== pop
.Pop-Wrap {

  .modal-header {
    padding: 1em 2em 0.3em;
    color:#FFF;
    background: #313131;
    p {
      padding-top: 1em;
      color:#B1B1B1;
      font-size: 0.8em;
    }
    button {
      color: #FFF;
    }
  }
  .modal-body {
    padding: 1em 2em;
    td {
      font-size: 0.85em;
    }
  }
  .info-box {
    font-size: 12px;
    padding-bottom: 20px;
  }
}

.modal-closeBtn {

}

@media (min-width: 420px) {
  .modal-login {
    width: 90%;
  }
}
.modal-login {
  width:416px ;
  margin: 10px auto;
  margin-top: 164px;
}